In [0]:
a = sc.parallelize([1,2,3])
a.collect()

Out[2]: [1, 2, 3]

In [0]:
# df = spark.read.csv("/FileStore/tables/sales_record/sales_record.csv", inferSchema = True, header = True)

In [0]:
df = spark.read.format("csv").option("delimiter",",").option("header","true").option("inferSchema","true").load("/FileStore/tables/sales_record/sales_record.csv")

In [0]:
df.show(n=5, truncate = False)

+---------------------------------+--------------------+---------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+
|Region                           |Country             |Item Type|Sales Channel|Order Priority|Order Date|Order ID |Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+---------------------------------+--------------------+---------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+
|Central America and the Caribbean|Antigua and Barbuda |Baby Food|Online       |M             |12/20/2013|957081544|1/11/2014|552       |255.28    |159.42   |140914.56    |87999.84  |52914.72    |
|Central America and the Caribbean|Panama              |Snacks   |Offline      |C             |7/5/2010  |301644504|7/26/2010|2167      |152.58    |97.44    |330640.86    |211152.48 |119488.38   |
|Europe                           |Czech Republic      |Beverages|Offline      |C             |9/12/2011 |478051030|9/29/2011|4778      |47.45     |31.79    |226716.1     |151892.62 |74823.48    |
|Asia                             |North Korea         |Cereal   |Offline      |L             |5/13/2010 |892599952|6/15/2010|9016      |205.7     |117.11   |1854591.2    |1055863.76|798727.44   |
|Asia                             |Sri Lanka           |Snacks   |Offline      |C             |7/20/2015 |571902596|7/27/2015|7542      |152.58    |97.44    |1150758.36   |734892.48 |415865.88   |
+---------------------------------+--------------------+---------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+
only showing top 5 rows

In [0]:
df.select("Region","Country","Order ID").show(n=5, truncate = False)

+---------------------------------+--------------------+---------+
|Region                           |Country             |Order ID |
+---------------------------------+--------------------+---------+
|Central America and the Caribbean|Antigua and Barbuda |957081544|
|Central America and the Caribbean|Panama              |301644504|
|Europe                           |Czech Republic      |478051030|
|Asia                             |North Korea         |892599952|
|Asia                             |Sri Lanka           |571902596|
+---------------------------------+--------------------+---------+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import count

In [0]:
df.select("Region","Country","Order ID").groupBy("Region","Country").agg(count('Order ID').alias('Num_Sales')).orderBy("Num_Sales", ascending = False).show(n = 20, truncate = False)

+---------------------------------+------------------------+---------+
|Region                           |Country                 |Num_Sales|
+---------------------------------+------------------------+---------+
|Europe                           |San Marino              |40       |
|Europe                           |Andorra                 |40       |
|Sub-Saharan Africa               |Mauritius               |38       |
|North America                    |United States of America|38       |
|Sub-Saharan Africa               |Ghana                   |38       |
|Australia and Oceania            |Tonga                   |37       |
|Central America and the Caribbean|Haiti                   |36       |
|Asia                             |South Korea             |36       |
|Middle East and North Africa     |Somalia                 |36       |
|Central America and the Caribbean|Grenada                 |36       |
|Europe                           |Kosovo                  |35       |
|Australia and Oceania            |Vanuatu                 |35       |
|Sub-Saharan Africa               |Niger                   |35       |
|Australia and Oceania            |Samoa                   |35       |
|Australia and Oceania            |Australia               |34       |
|Asia                             |Brunei                  |34       |
|Sub-Saharan Africa               |Sudan                   |34       |
|Asia                             |Laos                    |34       |
|Europe                           |Romania                 |34       |
|Europe                           |Ukraine                 |33       |
+---------------------------------+------------------------+---------+
only showing top 20 rows

In [0]:
df.select("Region","Country","Order ID").groupBy("Region","Country").agg(count('Order ID').alias('Num_Sales')).orderBy("Num_Sales", ascending = False).explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [Num_Sales#938L DESC NULLS LAST], true, 0
   +- Exchange rangepartitioning(Num_Sales#938L DESC NULLS LAST, 200), ENSURE_REQUIREMENTS, [id=#1409]
      +- HashAggregate(keys=[Region#188, Country#189], functions=[finalmerge_count(merge count#943L) AS count(Order ID#194)#937L])
         +- Exchange hashpartitioning(Region#188, Country#189, 200), ENSURE_REQUIREMENTS, [id=#1406]
            +- HashAggregate(keys=[Region#188, Country#189], functions=[partial_count(Order ID#194) AS count#943L])
               +- FileScan csv [Region#188,Country#189,Order ID#194] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[dbfs:/FileStore/tables/sales_record/sales_record.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Region:string,Country:string,Order ID:int>

In [0]:
word = "Spark is good. Spark is a big data framework".split(" ")

In [0]:
rdd = sc.parallelize(word, 2)

In [0]:
rdd.collect()

Out[3]: ['Spark', 'is', 'good.', 'Spark', 'is', 'a', 'big', 'data', 'framework']

In [0]:
rdd.distinct().collect()

Out[4]: ['Spark', 'is', 'good.', 'framework', 'a', 'big', 'data']

In [0]:
rdd.filter(lambda x: x!='Spark').collect()

Out[5]: ['is', 'good.', 'is', 'a', 'big', 'data', 'framework']

In [0]:
def wordsStartsWith(word, target):
    return word.startswith(target)

In [0]:
rdd.filter(lambda x: wordsStartsWith(x,'S')).collect()

Out[9]: ['Spark', 'Spark']

In [0]:
num_list = list(range(1,21))

In [0]:
num_list = sc.parallelize(num_list)
num_list.collect()

Out[20]: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [0]:
num_list.map(lambda x:x^2).collect()

Out[21]: [3, 0, 1, 6, 7, 4, 5, 10, 11, 8, 9, 14, 15, 12, 13, 18, 19, 16, 17, 22]

In [0]:
num_list.map(lambda x:x*x).collect()

Out[22]: [1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [0]:
rdd.flatMap(lambda x:list(x)).take(10)

Out[23]: ['S', 'p', 'a', 'r', 'k', 'i', 's', 'g', 'o', 'o']

In [0]:
country_rank = (("India",1), ("China",2), ("Brazil",3))
country_rank = sc.parallelize(country_rank)

In [0]:
country_rank = country_rank.map(lambda x: (x[1],x[0]))

country_rank.sortByKey(ascending = False ).collect()

Out[32]: [(3, 'Brazil'), (2, 'China'), (1, 'India')]

In [0]:
num_list.map(lambda x:x*x).reduce(lambda x,y: x+y)

Out[34]: 2870

In [0]:
num_list.map(lambda x:x*x).max()

Out[39]: 400

In [0]:
num_list.map(lambda x:x*x).reduce(lambda x,y: x if x>y else y)

Out[38]: 400

In [0]:
temp = sc.parallelize([59,57.2,53.6,55.4,51.8,53.6,55.4])

In [0]:
fa = temp.map(lambda x: (x-32)*(5/9))
fa.collect()

Out[43]: [15.0,
 14.000000000000002,
 12.000000000000002,
 13.0,
 10.999999999999998,
 12.000000000000002,
 13.0]

In [0]:
fa.filter(lambda x: x>=13).collect()

Out[45]: [15.0, 14.000000000000002, 13.0, 13.0]

In [0]:
data2001list = sc.parallelize(['R1N1', 'R1N2','R1N3', 'R1N4','R1N5', 'R1N6', 'R1N7'])
data2002list = sc.parallelize(['R1N3','R1N4', 'R1N7','R1N8','R1N9'])
data2003list = sc.parallelize(['R1N4','R1N8','R1N10','R1N11','R1N12'])

In [0]:
datalist = data2001list+data2002list+data2003list

In [0]:
datalist.distinct().count()

Out[74]: 12

In [0]:
data2001list.subtract(data2002list).collect()

Out[77]: ['R1N5', 'R1N1', 'R1N2', 'R1N6']

In [0]:
data2001list.union(data2002list).union(data2003list).distinct().collect()

Out[75]: ['R1N4',
 'R1N3',
 'R1N9',
 'R1N12',
 'R1N5',
 'R1N1',
 'R1N2',
 'R1N8',
 'R1N6',
 'R1N11',
 'R1N7',
 'R1N10']

In [0]:
datalist.count()

Out[56]: 16

In [0]:
data2001list.count()

Out[53]: 7

In [0]:
(data2002list+data2003list).count()

Out[55]: 9

In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [0]:
data = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

In [0]:
schema = StructType([StructField('firstName',StringType(), nullable = True),
                      StructField('middleName',StringType(), nullable = True),
                    StructField('lastName',StringType(), nullable = True),
                    StructField('id',StringType(), nullable = True),
                    StructField('gender',StringType(), nullable = True),
                    StructField('salary',IntegerType(), nullable = True)])

In [0]:
df = spark.createDataFrame(data, schema,)

In [0]:
df.printSchema()

root
 |-- firstName: string (nullable = true)
 |-- middleName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [0]:
df.show(truncate=False)

+---------+----------+--------+-----+------+------+
|firstName|middleName|lastName|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [0]:
df = spark.read.csv(path = '/FileStore/tables/Fire_Incidents.csv', header = True, sep = ',' , inferSchema = True)

In [0]:
import pyspark.sql.functions as F
renamed_df = df.select([F.col(col).alias(col.replace(' ', '')) for col in df.columns])

In [0]:
renamed_df.printSchema()

root
 |-- IncidentNumber: double (nullable = true)
 |-- ExposureNumber: double (nullable = true)
 |-- Address: string (nullable = true)
 |-- IncidentDate: string (nullable = true)
 |-- CallNumber: double (nullable = true)
 |-- AlarmDtTm: string (nullable = true)
 |-- ArrivalDtTm: string (nullable = true)
 |-- CloseDtTm: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: double (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: double (nullable = true)
 |-- Box: string (nullable = true)
 |-- SuppressionUnits: double (nullable = true)
 |-- SuppressionPersonnel: double (nullable = true)
 |-- EMSUnits: double (nullable = true)
 |-- EMSPersonnel: double (nullable = true)
 |-- OtherUnits: double (nullable = true)
 |-- OtherPersonnel: double (nullable = true)
 |-- FirstUnitOnScene: string (nullable = true)
 |-- EstimatedPropertyLoss: string (nullable = true)
 |-- EstimatedContentsLoss: string (nullable = true)
 |-- FireFatalities: double (nullable = true)
 |-- FireInjuries: double (nullable = true)
 |-- CivilianFatalities: double (nullable = true)
 |-- CivilianInjuries: double (nullable = true)
 |-- NumberofAlarms: string (nullable = true)
 |-- PrimarySituation: string (nullable = true)
 |-- MutualAid: string (nullable = true)
 |-- ActionTakenPrimary: string (nullable = true)
 |-- ActionTakenSecondary: string (nullable = true)
 |-- ActionTakenOther: string (nullable = true)
 |-- DetectorAlertedOccupants: string (nullable = true)
 |-- PropertyUse: string (nullable = true)
 |-- AreaofFireOrigin: string (nullable = true)
 |-- IgnitionCause: string (nullable = true)
 |-- IgnitionFactorPrimary: string (nullable = true)
 |-- IgnitionFactorSecondary: string (nullable = true)
 |-- HeatSource: string (nullable = true)
 |-- ItemFirstIgnited: string (nullable = true)
 |-- HumanFactorsAssociatedwithIgnition: string (nullable = true)
 |-- StructureType: string (nullable = true)
 |-- StructureStatus: string (nullable = true)
 |-- FloorofFireOrigin: string (nullable = true)
 |-- FireSpread: string (nullable = true)
 |-- NoFlameSpead: string (nullable = true)
 |-- Numberoffloorswithminimumdamage: string (nullable = true)
 |-- Numberoffloorswithsignificantdamage: string (nullable = true)
 |-- Numberoffloorswithheavydamage: string (nullable = true)
 |-- Numberoffloorswithextremedamage: string (nullable = true)
 |-- DetectorsPresent: string (nullable = true)
 |-- DetectorType: string (nullable = true)
 |-- DetectorOperation: string (nullable = true)
 |-- DetectorEffectiveness: string (nullable = true)
 |-- DetectorFailureReason: string (nullable = true)
 |-- AutomaticExtinguishingSystemPresent: string (nullable = true)
 |-- AutomaticExtinguishingSytemType: string (nullable = true)
 |-- AutomaticExtinguishingSytemPerfomance: string (nullable = true)
 |-- AutomaticExtinguishingSytemFailureReason: string (nullable = true)
 |-- NumberofSprinklerHeadsOperating: string (nullable = true)
 |-- SupervisorDistrict: double (nullable = true)
 |-- NeighborhoodDistrict: string (nullable = true)
 |-- Location: string (nullable = true)

In [0]:
renamed_df.select('IncidentNumber','IncidentDate','City').show(10)

+--------------+-------------+-------------+
|IncidentNumber| IncidentDate|         City|
+--------------+-------------+-------------+
|   1.1101416E7|11/1/11      |SF           |
|   1.2077793E7|8/22/12      |SF           |
|     7021713.0|3/15/07      |SF           |
|   1.5065212E7|6/20/15      |San Francisco|
|   1.0097225E7|10/31/10     |SF           |
|     8033299.0|4/17/08      |SF           |
|     8098069.0|11/15/08     |SF           |
|     5008050.0|1/30/05      |SF           |
|     4012483.0|2/13/04      |SF           |
|   1.3110544E7|11/21/13     |SF           |
+--------------+-------------+-------------+

In [0]:
renamed_df.write.parquet('/FileStore/tables/Fire_Incidents.parquet', partitionBy = 'IncidentDate', )

In [0]:
spark.read.parquet('/FileStore/tables/Fire_Incidents.parquet').show(10)

+--------------+--------------+--------------------+------------+--------------+--------------+--------------+-------------+-------+---------+-----------+----+----------------+--------------------+--------+------------+----------+--------------+-------------------+---------------------+---------------------+--------------+------------+------------------+----------------+----------------+--------------------+----------+--------------------+--------------------+------------------+------------------------+--------------------+-------------------+--------------+---------------------+-----------------------+-----------+------------------+----------------------------------+--------------+----------------+--------------------+-----------+--------------+-------------------------------+-----------------------------------+-----------------------------+-------------------------------+-----------------+-------------+------------------+---------------------+---------------------+-----------------------------------+-------------------------------+-------------------------------------+----------------------------------------+-------------------------------+------------------+--------------------+--------------------+-------------+
|IncidentNumber|ExposureNumber|             Address|  CallNumber|     AlarmDtTm|   ArrivalDtTm|     CloseDtTm|         City|Zipcode|Battalion|StationArea| Box|SuppressionUnits|SuppressionPersonnel|EMSUnits|EMSPersonnel|OtherUnits|OtherPersonnel|   FirstUnitOnScene|EstimatedPropertyLoss|EstimatedContentsLoss|FireFatalities|FireInjuries|CivilianFatalities|CivilianInjuries|  NumberofAlarms|    PrimarySituation| MutualAid|  ActionTakenPrimary|ActionTakenSecondary|  ActionTakenOther|DetectorAlertedOccupants|         PropertyUse|   AreaofFireOrigin| IgnitionCause|IgnitionFactorPrimary|IgnitionFactorSecondary| HeatSource|  ItemFirstIgnited|HumanFactorsAssociatedwithIgnition| StructureType| StructureStatus|   FloorofFireOrigin| FireSpread|  NoFlameSpead|Numberoffloorswithminimumdamage|Numberoffloorswithsignificantdamage|Numberoffloorswithheavydamage|Numberoffloorswithextremedamage| DetectorsPresent| DetectorType| DetectorOperation|DetectorEffectiveness|DetectorFailureReason|AutomaticExtinguishingSystemPresent|AutomaticExtinguishingSytemType|AutomaticExtinguishingSytemPerfomance|AutomaticExtinguishingSytemFailureReason|NumberofSprinklerHeadsOperating|SupervisorDistrict|NeighborhoodDistrict|            Location| IncidentDate|
+--------------+--------------+--------------------+------------+--------------+--------------+--------------+-------------+-------+---------+-----------+----+----------------+--------------------+--------+------------+----------+--------------+-------------------+---------------------+---------------------+--------------+------------+------------------+----------------+----------------+--------------------+----------+--------------------+--------------------+------------------+------------------------+--------------------+-------------------+--------------+---------------------+-----------------------+-----------+------------------+----------------------------------+--------------+----------------+--------------------+-----------+--------------+-------------------------------+-----------------------------------+-----------------------------+-------------------------------+-----------------+-------------+------------------+---------------------+---------------------+-----------------------------------+-------------------------------+-------------------------------------+----------------------------------------+-------------------------------+------------------+--------------------+--------------------+-------------+
|     8098069.0|           0.0|3700 California S...| 8.3200113E7|11/15/08 7:35 |11/15/08 7:41 |11/15/08 7:56 |SF           |94118.0|B07      |       10.0|    |             3.0|                10.0|     0.0|         0.0|       0.0|           0.0|E10                |                  ...|                  ...|           0.0|         0.0|               0.0|             0.0|                |735 - alarm syste...|none      |86 - investigate    |-                ...|-                 |    -                ...|331 - hospital - ...|                   |              |                  ...|                    ...|           |                  |                               ...|              |                |                    |           |              |                            ...|                                ...|                          ...|                            ...|                 |             |                  |                  ...|                  ...|                                ...|                            ...|                                  ...|                                     ...|                            ...|               2.0|Presidio Heights ...|(37.7865740000297...|11/15/08     |
|     5008050.0|           0.0|101 Spear St.    ...| 5.0300156E7|1/30/05 11:16 |1/30/05 11:17 |1/30/05 11:42 |SF           |94105.0|B03      |       35.0|    |             3.0|                10.0|     0.0|         0.0|       0.0|           0.0|E15                | 0                ...| 0                ...|           0.0|         0.0|               0.0|             0.0|                |710 - malicious, ...|none      |86 - investigate    |-                ...|-                 |    -                ...|429 - multifamily...|                   |              |                  ...|                    ...|           |                  |                               ...|              |                |                    |           |              |                            ...|                                ...|                          ...|                            ...|                 |             |                  |                  ...|                  ...|                                ...|                            ...|                                  ...|                                     ...|                            ...|               6.0|Financial Distric...|(37.7922650000297...|1/30/05      |
|     7021713.0|           0.0|San Bruno Av. / T...| 7.0740223E7|3/15/07 13:55 |3/15/07 13:59 |3/15/07 13:59 |SF           |94134.0|B10      |       44.0|    |             1.0|                 4.0|     0.0|         0.0|       0.0|           0.0|E42                |                  ...|                  ...|           0.0|         0.0|               0.0|             0.0|                |711 - municipal a...|none      |86 - investigate    |-                ...|-                 |    -                ...|962 - residential...|                   |              |                  ...|                    ...|           |                  |                               ...|              |                |                    |           |              |                            ...|                                ...|                          ...|                            ...|                 |             |                  |                  ...|                  ...|                                ...|                            ...|                                  ...|                                     ...|                            ...|              10.0|Visitacion Valley...|(37.7129950000296...|3/15/07      |
|     4012483.0|           0.0|Columbus Av. / Un...| 4.0440358E7|2/13/04 20:14 |2/13/04 20:16 |2/13/04 20:16 |SF           |94133.0|B01      |       28.0|    |             2.0|                 9.0|     0.0|         0.0|       0.0|           0.0|E28                | 0                ...| 0                ...|           0.0|         0.0|               0.0|             0.0|                |711 - municipal a...|none      |86 - investigate    |-                ...|-                 |    -                ...|uuu - undetermine...|                   |              |                  ...|                    ...|           |                  |                               ...|              |                |                    |           |              |                            ...|                                ...|                          ...|                            ...|                 |             |                  |                  ...|                  ...|                                ...|                            ...|                                  ...|                                     ...|                            ...|               3.0|Chinatown        ...|(37.8003150000297...|2/13/04      |
|   1.5065212E7|           0.0|1532 Noriega Stre...|1.51710341E8|6/20/15 2:44  |6/20/15 2:51  |6/20/15 3:18  |San Francisco|94122.0|B08      |       40.0|7431|             8.0|                28.0|     1.0|         2.0|       1.0|           2.0|                   | 800              ...|                  ...|           0.0|         0.0|               0.0|             0.0|                |113 cooking fire,...|n none    |52 forcible entry   |                 ...|                  |    2 detector did no...|161 restaurant or...|                   |              |                  ...|                    ...|           |                  |                               ...|              |                |                    |           |na            |                            ...|                                ...|                          ...|                            ...|                 |             |                  |                  ...|                  ...|                                ...|                            ...|                                  ...|                                     ...|                            ...|               4.0|Sunset/Parkside  ...|(37.7541490000296...|6/20/15      |
|   1.0097225E7|           0.0|1215 Carolina St....|1.03040303E8|10/31/10 17:14|10/31/10 17:19|10/31/10 17:27|SF           |94107.0|B10      |       37.0|    |             3.0|                10.0|     0.0|         0.0|       0.0|           0.0|E37                |                  ...|                  ...|           0.0|         0.0|               0.0|             0.0|                |745 - alarm syste...|none      |86 - investigate    |-                ...|-                 |    -                ...|500 - mercantile,...|                   |              |                  ...|                    ...|           |                  |                               ...|              |                |                    |           |              |                            ...|                                ...|                          ...|                            ...|                 |             |                  |                  ...|                  ...|                                ...|                            ...|                                  ...|                                     ...|                            ...|              10.0|Potrero Hill     ...|(37.7533230000297...|10/31/10     |
|   1.3110544E7|           0.0|150 Dalewood Wy  ...|1.33250367E8|11/21/13 22:40|11/21/13 22:48|11/21/13 23:42|SF           |94127.0|B09      |       39.0|8257|             3.0|                11.0|     0.0|         0.0|       0.0|           0.0|E39                |                  ...|                  ...|           0.0|         0.0|               0.0|             0.0|                |500 - service cal...|none      |86 - investigate    |-                ...|-                 |    -                ...|962 - residential...|                   |              |                  ...|                    ...|           |                  |                               ...|              |                |                    |           |              |                            ...|                                ...|                          ...|                            ...|                 |             |                  |                  ...|                  ...|                                ...|                            ...|                                  ...|                                     ...|                            ...|               7.0|West of Twin Peak...|(37.7390060000296...|11/21/13     |
|   1.1101416E7|           0.0|Polk St. / Pine S...|1.13050357E8|11/1/11 18:07 |11/1/11 18:10 |11/1/11 18:11 |SF           |94109.0|B04      |        3.0|    |             2.0|                 9.0|     0.0|         0.0|       0.0|           0.0|E03                |                  ...|                  ...|           0.0|         0.0|               0.0|             0.0|                |711 - municipal a...|none      |86 - investigate    |-                ...|-                 |    -                ...| 960 - street, other|                   |              |                  ...|                    ...|           |                  |                               ...|              |                |                    |           |              |                            ...|                                ...|                          ...|                            ...|                 |             |                  |                  ...|                  ...|                                ...|                            ...|                                  ...|                                     ...|                            ...|               3.0|Nob Hill         ...|(37.7896190000297...|11/1/11      |
|   1.2077793E7|           0.0|2824 Scott St.   ...|1.22350085E8|8/22/12 8:58  |8/22/12 9:10  |8/22/12 9:13  |SF           |94123.0|B04      |       16.0|    |             3.0|                11.0|     0.0|         0.0|       0.0|           0.0|E51                |                  ...|                  ...|           0.0|         0.0|               0.0|             0.0|                |700 - false alarm...|none      |86 - investigate    |-                ...|-                 |    -                ...|400 - residential...|                   |              |                  ...|                    ...|           |                  |                               ...|              |                |                    |           |              |                            ...|                                ...|                          ...|                            ...|                 |             |                  |                  ...|                  ...|                                ...|                            ...|                                  ...|                                     ...|                            ...|               2.0|Marina           ...|(37.7960234800297...|8/22/12      |
|     8033299.0|           0.0|870 Kansas St.   ...| 8.1080319E7|4/17/08 17:54 |4/17/08 18:00 |4/17/08 18:04 |SF           |94107.0|B10      |       37.0|    |             1.0|                 4.0|     0.0|         0.0|       0.0|           0.0|E37                |                  ...|                  ...|           0.0|         0.0|               0.0|             0.0|                |550 - public serv...|none      |86 - investigate    |-                ...|-                 |    -                ...| 960 - street, other|                   |              |                  ...|                    ...|           |                  |                               ...|              |                |                    |           |              |                            ...|                                ...|                          ...|                            ...|                 |             |                  |                  ...|                  ...|                                ...|                            ...|                                  ...|                                     ...|                            ...|              10.0|Potrero Hill     ...|(37.7585613300297...|4/17/08      |
+--------------+--------------+--------------------+------------+--------------+--------------+--------------+-------------+-------+---------+-----------+----+----------------+--------------------+--------+------------+----------+--------------+-------------------+---------------------+---------------------+--------------+------------+------------------+----------------+----------------+--------------------+----------+--------------------+--------------------+------------------+------------------------+--------------------+-------------------+--------------+---------------------+-----------------------+-----------+------------------+----------------------------------+--------------+----------------+--------------------+-----------+--------------+-------------------------------+-----------------------------------+-----------------------------+-------------------------------+-----------------+-------------+------------------+---------------------+---------------------+-----------------------------------+-------------------------------+-------------------------------------+----------------------------------------+-------------------------------+------------------+--------------------+--------------------+-------------+

In [0]:
!ls dbfs/FileStore/tables

ls: cannot access 'dbfs/FileStore/tables': No such file or directory

In [0]:
schema = StructType([StructField('Order_ID',dataType = StringType(), nullable = True),
                   StructField('Product',dataType = StringType(), nullable = True),
                   StructField('Quantity_Ordered',dataType = StringType(), nullable = True),
                   StructField('Price_Each',dataType = StringType(), nullable = True),
                   StructField('Order_Date',dataType = StringType(), nullable = True),
                   StructField('Purchase_Address',dataType = StringType(), nullable = True)])

In [0]:
df = spark.read.csv(path = 'FileStore/tables/salesdata/*.csv', schema=schema, header = True)

In [0]:
df.show(10)

+--------+--------------------+----------------+----------+--------------+--------------------+
|Order_ID|             Product|Quantity_Ordered|Price_Each|    Order_Date|    Purchase_Address|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  295665|  Macbook Pro Laptop|               1|      1700|12/30/19 00:01|136 Church St, Ne...|
|  295666|  LG Washing Machine|               1|     600.0|12/29/19 07:03|562 2nd St, New Y...|
|  295667|USB-C Charging Cable|               1|     11.95|12/12/19 18:21|277 Main St, New ...|
|  295668|    27in FHD Monitor|               1|    149.99|12/22/19 15:13|410 6th St, San F...|
|  295669|USB-C Charging Cable|               1|     11.95|12/18/19 12:38|43 Hill St, Atlan...|
|  295670|AA Batteries (4-p...|               1|      3.84|12/31/19 22:58|200 Jefferson St,...|
|  295671|USB-C Charging Cable|               1|     11.95|12/16/19 15:10|928 12th St, Port...|
|  295672|USB-C Charging Cable|               2|     11.95|12/13/19 09:29|813 Hickory St, D...|
|  295673|Bose SoundSport H...|               1|     99.99|12/15/19 23:26|718 Wilson St, Da...|
|  295674|AAA Batteries (4-...|               4|      2.99|12/28/19 11:51|77 7th St, Dallas...|
+--------+--------------------+----------------+----------+--------------+--------------------+
only showing top 10 rows

In [0]:
df.printSchema()

root
 |-- Order_ID: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity_Ordered: string (nullable = true)
 |-- Price_Each: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Purchase_Address: string (nullable = true)

In [0]:
print((df.count(), len(df.columns)))

(186862, 6)

In [0]:
from pyspark.sql.types import *

In [0]:
schema = StructType([StructField(name = 'id', dataType = IntegerType(), nullable = False),
                    StructField(name = 'first_name', dataType = StringType(), nullable = True),
                    StructField(name = 'last_name', dataType = StringType(), nullable = True),
                     StructField(name = 'fav_movies', dataType = ArrayType(elementType = StringType()), nullable = True),
                    StructField(name = 'salary', dataType = FloatType(), nullable = True),
                    StructField(name = 'image_url', dataType = StringType(), nullable = True),
                    StructField(name = 'date_of_birth', dataType = DateType(), nullable = True),
                    StructField(name = 'active', dataType = BooleanType(), nullable = True),])

In [0]:
df = spark.read.json(path = "FileStore/tables/*.json", schema = schema, multiLine = True)

In [0]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- fav_movies: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- salary: float (nullable = true)
 |-- image_url: string (nullable = true)
 |-- date_of_birth: date (nullable = true)
 |-- active: boolean (nullable = true)

In [0]:
df.show(truncate = False)

+---+----------+-----------+----------------------------------------------------------------------------+-------+-----------------------------------------------+-------------+------+
|id |first_name|last_name  |fav_movies                                                                  |salary |image_url                                      |date_of_birth|active|
+---+----------+-----------+----------------------------------------------------------------------------+-------+-----------------------------------------------+-------------+------+
|1  |Drucy     |Poppy      |[I giorni contati]                                                          |1463.36|http://dummyimage.com/126x166.png/cc0000/ffffff|1991-02-16   |true  |
|2  |Emelyne   |Blaza      |[Musketeer, The, Topralli]                                                  |3006.04|http://dummyimage.com/158x106.bmp/cc0000/ffffff|1991-11-02   |false |
|3  |Max       |Rettie     |[The Forgotten Space, Make It Happen]                                       |1422.88|http://dummyimage.com/237x140.jpg/ff4444/ffffff|1990-03-03   |false |
|4  |Ilario    |Kean       |[Up Close and Personal]                                                     |3561.36|http://dummyimage.com/207x121.jpg/cc0000/ffffff|1987-06-09   |true  |
|5  |Toddy     |Drexel     |[Walk in the Clouds, A]                                                     |4934.87|http://dummyimage.com/116x202.png/cc0000/ffffff|1992-10-28   |true  |
|6  |Oswald    |Petrolli   |[Wing and the Thigh, The (L'aile ou la cuisse)]                             |1153.23|http://dummyimage.com/137x172.jpg/5fa2dd/ffffff|1986-09-02   |false |
|7  |Adrian    |Clarey     |[Walking Tall, Paradise, Hawaiian Style]                                    |1044.73|http://dummyimage.com/244x218.bmp/cc0000/ffffff|1971-08-24   |false |
|8  |Dominica  |Goodnow    |[Hearts Divided]                                                            |1147.76|http://dummyimage.com/112x203.jpg/dddddd/000000|1973-08-27   |false |
|9  |Emory     |Slocomb    |[Snake and Crane Arts of Shaolin (She hao ba bu), Mala Noche]               |1082.11|http://dummyimage.com/138x226.jpg/cc0000/ffffff|1974-06-08   |true  |
|10 |Jeremias  |Bode       |[Farewell to Arms, A]                                                       |3472.63|http://dummyimage.com/243x108.bmp/dddddd/000000|1997-08-02   |true  |
|11 |Timothy   |Ervine     |[Land of the Lost, Save the Last Dance, Whispering Corridors (Yeogo Goedam)]|1147.61|http://dummyimage.com/162x184.bmp/5fa2dd/ffffff|1971-06-02   |false |
|12 |Leanora   |Gooder     |[It's All About Love, Scooby-Doo! The Mystery Begins]                       |1327.02|http://dummyimage.com/108x237.png/5fa2dd/ffffff|1981-12-17   |false |
|13 |Claiborn  |Denham     |[McCullin, Max Payne, Oath, The]                                            |2623.33|http://dummyimage.com/250x200.bmp/5fa2dd/ffffff|1996-03-07   |false |
|14 |Ambrosi   |Vidineev   |[Wall Street: Money Never Sleeps, Applause (Applaus), When a Stranger Calls]|4550.88|http://dummyimage.com/232x159.png/5fa2dd/ffffff|1989-07-20   |true  |
|15 |Feodor    |Nancekivell|[Monsoon Wedding]                                                           |2218.46|http://dummyimage.com/119x120.bmp/cc0000/ffffff|2000-10-07   |false |
|16 |Margaux   |Archbold   |[And Now a Word from Our Sponsor]                                           |1013.75|http://dummyimage.com/229x133.png/5fa2dd/ffffff|1988-07-29   |true  |
|17 |Balduin   |Elstone    |[Sisters, The]                                                              |2302.26|http://dummyimage.com/171x173.png/5fa2dd/ffffff|1974-07-20   |false |
|18 |Alfie     |Hatliffe   |[Lord of Tears]                                                             |3893.1 |http://dummyimage.com/142x242.png/5fa2dd/ffffff|1989-06-21   |true  |
|19 |Lura      |Follis     |[My Life in Pink (Ma vie en rose), Test Pilot, Sin of Madelon Claudet, The] |3331.26|http://dummyimage.com/189x205.bmp/dddddd/000000|1998-11-03   |false |
|20 |Maxi      |Cluet      |[All I Want for Christmas]                                                  |4046.46|http://dummyimage.com/110x101.png/cc0000/ffffff|1979-05-06   |false |
+---+----------+-----------+----------------------------------------------------------------------------+-------+-----------------------------------------------+-------------+------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import *

In [0]:
df.select(col("first_name"), col("last_name"), col("date_of_birth")).show(3)

+----------+---------+-------------+
|first_name|last_name|date_of_birth|
+----------+---------+-------------+
|     Drucy|    Poppy|   1991-02-16|
|   Emelyne|    Blaza|   1991-11-02|
|       Max|   Rettie|   1990-03-03|
+----------+---------+-------------+
only showing top 3 rows

In [0]:
df.select(concat_ws(' ', col("first_name"), col('last_name')).alias('full_name'), col('salary'), (col("salary")*0.10+col("salary")).alias("salary_inc")).show()

+------------------+-------+------------------+
|         full_name| salary|        salary_inc|
+------------------+-------+------------------+
|       Drucy Poppy|1463.36|1609.6959838867188|
|     Emelyne Blaza|3006.04|  3306.64404296875|
|        Max Rettie|1422.88|1565.1680053710938|
|       Ilario Kean|3561.36|3917.4961181640624|
|      Toddy Drexel|4934.87|  5428.35712890625|
|   Oswald Petrolli|1153.23| 1268.552978515625|
|     Adrian Clarey|1044.73| 1149.202978515625|
|  Dominica Goodnow|1147.76|1262.5360107421875|
|     Emory Slocomb|1082.11|1190.3209838867188|
|     Jeremias Bode|3472.63|  3819.89287109375|
|    Timothy Ervine|1147.61|1262.3709838867187|
|    Leanora Gooder|1327.02| 1459.722021484375|
|   Claiborn Denham|2623.33|   2885.6630859375|
|  Ambrosi Vidineev|4550.88|  5005.96787109375|
|Feodor Nancekivell|2218.46|  2440.30595703125|
|  Margaux Archbold|1013.75|          1115.125|
|   Balduin Elstone|2302.26|2532.4860107421873|
|    Alfie Hatliffe| 3893.1| 4282.410107421875|
|       Lura Follis|3331.26|3664.3860107421874|
|        Maxi Cluet|4046.46|  4451.10595703125|
+------------------+-------+------------------+
only showing top 20 rows

In [0]:
df.select(concat_ws(' ', col("first_name"), col('last_name')).alias('full_name'), col('salary'), (expr("salary*0.10+salary")).alias("salary_inc")).show()
# we can pass in string expression like shown above using expr. It works same as col but is extra powerful when using such expression

+------------------+-------+------------------+
|         full_name| salary|        salary_inc|
+------------------+-------+------------------+
|       Drucy Poppy|1463.36|1609.6959838867188|
|     Emelyne Blaza|3006.04|  3306.64404296875|
|        Max Rettie|1422.88|1565.1680053710938|
|       Ilario Kean|3561.36|3917.4961181640624|
|      Toddy Drexel|4934.87|  5428.35712890625|
|   Oswald Petrolli|1153.23| 1268.552978515625|
|     Adrian Clarey|1044.73| 1149.202978515625|
|  Dominica Goodnow|1147.76|1262.5360107421875|
|     Emory Slocomb|1082.11|1190.3209838867188|
|     Jeremias Bode|3472.63|  3819.89287109375|
|    Timothy Ervine|1147.61|1262.3709838867187|
|    Leanora Gooder|1327.02| 1459.722021484375|
|   Claiborn Denham|2623.33|   2885.6630859375|
|  Ambrosi Vidineev|4550.88|  5005.96787109375|
|Feodor Nancekivell|2218.46|  2440.30595703125|
|  Margaux Archbold|1013.75|          1115.125|
|   Balduin Elstone|2302.26|2532.4860107421873|
|    Alfie Hatliffe| 3893.1| 4282.410107421875|
|       Lura Follis|3331.26|3664.3860107421874|
|        Maxi Cluet|4046.46|  4451.10595703125|
+------------------+-------+------------------+
only showing top 20 rows

In [0]:
for i in range(1,10,1):
    print(i)
    df.select(concat_ws(' ', col("first_name"), col('last_name')).alias('full_name'), col('salary'), (expr(f"salary*{i}+salary")).alias("salary_inc")).show(5)
# we can pass in string expression like shown above using expr. It works same as col but is extra powerful when using such expression

1
+-------------+-------+----------+
|    full_name| salary|salary_inc|
+-------------+-------+----------+
|  Drucy Poppy|1463.36|   2926.72|
|Emelyne Blaza|3006.04|   6012.08|
|   Max Rettie|1422.88|   2845.76|
|  Ilario Kean|3561.36|   7122.72|
| Toddy Drexel|4934.87|   9869.74|
+-------------+-------+----------+
only showing top 5 rows

2
+-------------+-------+----------+
|    full_name| salary|salary_inc|
+-------------+-------+----------+
|  Drucy Poppy|1463.36|   4390.08|
|Emelyne Blaza|3006.04|   9018.12|
|   Max Rettie|1422.88|   4268.64|
|  Ilario Kean|3561.36|  10684.08|
| Toddy Drexel|4934.87|  14804.61|
+-------------+-------+----------+
only showing top 5 rows

3
+-------------+-------+----------+
|    full_name| salary|salary_inc|
+-------------+-------+----------+
|  Drucy Poppy|1463.36|   5853.44|
|Emelyne Blaza|3006.04|  12024.16|
|   Max Rettie|1422.88|   5691.52|
|  Ilario Kean|3561.36|  14245.44|
| Toddy Drexel|4934.87|  19739.48|
+-------------+-------+----------+
only showing top 5 rows

4
+-------------+-------+----------+
|    full_name| salary|salary_inc|
+-------------+-------+----------+
|  Drucy Poppy|1463.36|    7316.8|
|Emelyne Blaza|3006.04|   15030.2|
|   Max Rettie|1422.88|    7114.4|
|  Ilario Kean|3561.36|   17806.8|
| Toddy Drexel|4934.87| 24674.352|
+-------------+-------+----------+
only showing top 5 rows

5
+-------------+-------+----------+
|    full_name| salary|salary_inc|
+-------------+-------+----------+
|  Drucy Poppy|1463.36|   8780.16|
|Emelyne Blaza|3006.04|  18036.24|
|   Max Rettie|1422.88|   8537.28|
|  Ilario Kean|3561.36|  21368.16|
| Toddy Drexel|4934.87| 29609.223|
+-------------+-------+----------+
only showing top 5 rows

6
+-------------+-------+----------+
|    full_name| salary|salary_inc|
+-------------+-------+----------+
|  Drucy Poppy|1463.36|10243.5205|
|Emelyne Blaza|3006.04| 21042.281|
|   Max Rettie|1422.88|   9960.16|
|  Ilario Kean|3561.36|  24929.52|
| Toddy Drexel|4934.87|  34544.09|
+-------------+-------+----------+
only showing top 5 rows

7
+-------------+-------+----------+
|    full_name| salary|salary_inc|
+-------------+-------+----------+
|  Drucy Poppy|1463.36|  11706.88|
|Emelyne Blaza|3006.04|  24048.32|
|   Max Rettie|1422.88|  11383.04|
|  Ilario Kean|3561.36|  28490.88|
| Toddy Drexel|4934.87|  39478.96|
+-------------+-------+----------+
only showing top 5 rows

8
+-------------+-------+----------+
|    full_name| salary|salary_inc|
+-------------+-------+----------+
|  Drucy Poppy|1463.36|  13170.24|
|Emelyne Blaza|3006.04|  27054.36|
|   Max Rettie|1422.88|  12805.92|
|  Ilario Kean|3561.36|  32052.24|
| Toddy Drexel|4934.87| 44413.832|
+-------------+-------+----------+
only showing top 5 rows

9
+-------------+-------+----------+
|    full_name| salary|salary_inc|
+-------------+-------+----------+
|  Drucy Poppy|1463.36| 14633.601|
|Emelyne Blaza|3006.04| 30060.398|
|   Max Rettie|1422.88|   14228.8|
|  Ilario Kean|3561.36|   35613.6|
| Toddy Drexel|4934.87| 49348.703|
+-------------+-------+----------+
only showing top 5 rows

In [0]:
df.filter("salary > 3000").show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|
|  4|    Ilario|     Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|
|  5|     Toddy|   Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|
| 10|  Jeremias|     Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|
| 14|   Ambrosi| Vidineev|[Wall Street: Mon...|4550.88|http://dummyimage...|   1989-07-20|  true|
| 18|     Alfie| Hatliffe|     [Lord of Tears]| 3893.1|http://dummyimage...|   1989-06-21|  true|
| 19|      Lura|   Follis|[My Life in Pink ...|3331.26|http://dummyimage...|   1998-11-03| false|
| 20|      Maxi|    Cluet|[All I Want for C...|4046.46|http://dummyimage...|   1979-05-06| false|
| 21|      Dian|    Dancy|[Double, Double, ...| 3720.3|http://dummyimage...|   1998-12-01|  true|
| 22|  Theodore| Climance|[Story of the Wee...|3008.56|http://dummyimage...|   1999-01-30| false|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

In [0]:
df.where("salary > 3000").show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|
|  4|    Ilario|     Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|
|  5|     Toddy|   Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|
| 10|  Jeremias|     Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|
| 14|   Ambrosi| Vidineev|[Wall Street: Mon...|4550.88|http://dummyimage...|   1989-07-20|  true|
| 18|     Alfie| Hatliffe|     [Lord of Tears]| 3893.1|http://dummyimage...|   1989-06-21|  true|
| 19|      Lura|   Follis|[My Life in Pink ...|3331.26|http://dummyimage...|   1998-11-03| false|
| 20|      Maxi|    Cluet|[All I Want for C...|4046.46|http://dummyimage...|   1979-05-06| false|
| 21|      Dian|    Dancy|[Double, Double, ...| 3720.3|http://dummyimage...|   1998-12-01|  true|
| 22|  Theodore| Climance|[Story of the Wee...|3008.56|http://dummyimage...|   1999-01-30| false|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

In [0]:
df.where((col('salary')>=3000) & (col('salary')<=4000) & (col('active') == False)).show(10)

+---+----------+----------+--------------------+-------+--------------------+-------------+------+
| id|first_name| last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+----------+--------------------+-------+--------------------+-------------+------+
|  2|   Emelyne|     Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|
| 19|      Lura|    Follis|[My Life in Pink ...|3331.26|http://dummyimage...|   1998-11-03| false|
| 22|  Theodore|  Climance|[Story of the Wee...|3008.56|http://dummyimage...|   1999-01-30| false|
| 24|  Camellia|  Jervoise| [Waiting to Exhale]|3431.17|http://dummyimage...|   1996-07-14| false|
| 36|     Ozzie|  Brownlie|     [Orange County]|3945.18|http://dummyimage...|   1992-01-25| false|
| 38|    Camile|      Mace|[Family Guy Prese...|3559.93|http://dummyimage...|   1994-12-12| false|
| 48|Maximilian|     Jonin|[The Last Shark, ...|3274.34|http://dummyimage...|   1994-09-16| false|
| 50|    Darbee| Brownjohn|[Lana Turner... a...|3120.83|http://dummyimage...|   1996-02-07| false|
| 54|     Johny|Goodenough| [Maximum Overdrive]|3592.31|http://dummyimage...|   1977-08-18| false|
| 62|    Wilden|    Mayger|[Rock, Paper, Sci...|3372.25|http://dummyimage...|   1998-12-27| false|
+---+----------+----------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

In [0]:
df.filter((year("date_of_birth") == 1989) | (year("date_of_birth") == 1999)).show()

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| 14|   Ambrosi| Vidineev|[Wall Street: Mon...|4550.88|http://dummyimage...|   1989-07-20|  true|
| 18|     Alfie| Hatliffe|     [Lord of Tears]| 3893.1|http://dummyimage...|   1989-06-21|  true|
| 22|  Theodore| Climance|[Story of the Wee...|3008.56|http://dummyimage...|   1999-01-30| false|
| 34|     Davis|    Pinks|          [Hounddog]|1337.14|http://dummyimage...|   1989-07-27|  true|
| 49| Kendricks|      Kee|   [Flower & Garnet]|2304.39|http://dummyimage...|   1999-11-14|  true|
| 55|      Jere|Shakelady|[Spencer's Mountain]|2866.28|http://dummyimage...|   1999-05-03| false|
| 61|    Shanna|  Samples|[Thomas in Love (...| 2703.0|http://dummyimage...|   1989-07-07| false|
| 71|    Cecily|  Salomon|[Mrs. Henderson P...|4062.93|http://dummyimage...|   1999-07-18|  true|
| 74|     Micky|   Umfrey|[Haunted House, T...|1271.82|http://dummyimage...|   1989-07-04| false|
| 77|  Elianora|   Notman|        [Nostalghia]|2132.07|http://dummyimage...|   1999-06-26| false|
| 79|     Deina|  Pennick|[Invisible Invade...|1048.92|http://dummyimage...|   1999-11-28|  true|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+

In [0]:
df.where((year("date_of_birth") == 1989) | (year("date_of_birth") == 1999)).show()

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| 14|   Ambrosi| Vidineev|[Wall Street: Mon...|4550.88|http://dummyimage...|   1989-07-20|  true|
| 18|     Alfie| Hatliffe|     [Lord of Tears]| 3893.1|http://dummyimage...|   1989-06-21|  true|
| 22|  Theodore| Climance|[Story of the Wee...|3008.56|http://dummyimage...|   1999-01-30| false|
| 34|     Davis|    Pinks|          [Hounddog]|1337.14|http://dummyimage...|   1989-07-27|  true|
| 49| Kendricks|      Kee|   [Flower & Garnet]|2304.39|http://dummyimage...|   1999-11-14|  true|
| 55|      Jere|Shakelady|[Spencer's Mountain]|2866.28|http://dummyimage...|   1999-05-03| false|
| 61|    Shanna|  Samples|[Thomas in Love (...| 2703.0|http://dummyimage...|   1989-07-07| false|
| 71|    Cecily|  Salomon|[Mrs. Henderson P...|4062.93|http://dummyimage...|   1999-07-18|  true|
| 74|     Micky|   Umfrey|[Haunted House, T...|1271.82|http://dummyimage...|   1989-07-04| false|
| 77|  Elianora|   Notman|        [Nostalghia]|2132.07|http://dummyimage...|   1999-06-26| false|
| 79|     Deina|  Pennick|[Invisible Invade...|1048.92|http://dummyimage...|   1999-11-28|  true|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+

In [0]:
df.filter(array_contains('fav_movies', 'Land of the Lost')).show()

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| 11|   Timothy|   Ervine|[Land of the Lost...|1147.61|http://dummyimage...|   1971-06-02| false|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+

In [0]:
df.where(array_contains('fav_movies', 'Land of the Lost')).show()

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| 11|   Timothy|   Ervine|[Land of the Lost...|1147.61|http://dummyimage...|   1971-06-02| false|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+

In [0]:
df.filter(col('salary')>4000).show()

+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| id|first_name|  last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
|  5|     Toddy|     Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|
| 14|   Ambrosi|   Vidineev|[Wall Street: Mon...|4550.88|http://dummyimage...|   1989-07-20|  true|
| 20|      Maxi|      Cluet|[All I Want for C...|4046.46|http://dummyimage...|   1979-05-06| false|
| 25|     Kelcy|     Wogdon|    [Iron Mask, The]|4512.51|http://dummyimage...|   2000-10-20|  true|
| 27|    Kelila|Harrowsmith|   [Apparition, The]|4651.58|http://dummyimage...|   1973-01-02|  true|
| 29|       Eli|  Normabell|[Return to Peyton...|4917.48|http://dummyimage...|   1993-01-02|  true|
| 39|   Melinda|   McKevitt|[Safrana or Freed...|4166.13|http://dummyimage...|   1979-12-15|  true|
| 43|   Guthrie|     Veeler|[Mr. Brooks, Seco...|4806.88|http://dummyimage...|   1978-07-31|  true|
| 46|    Giffie|    Kemmish|[State Witness, T...|4543.29|http://dummyimage...|   1995-06-25| false|
| 51|        El|   Dohrmann|[El Hada Buena - ...|4810.48|http://dummyimage...|   1984-04-24|  true|
| 53| Franciska|    Gilford|[Cathedral, The (...|4406.27|http://dummyimage...|   1976-04-08| false|
| 58|     Nahum|  Wildgoose|[Thomas in Love (...| 4009.3|http://dummyimage...|   1986-12-17|  true|
| 63|     Toddy| Matevosian| [Snake Eyes, Jauja]|4394.08|http://dummyimage...|   1972-03-17|  true|
| 66|      Rudy|    Ritelli|[Pope's Toilet, T...|4268.39|http://dummyimage...|   1998-09-01|  true|
| 71|    Cecily|    Salomon|[Mrs. Henderson P...|4062.93|http://dummyimage...|   1999-07-18|  true|
| 76|     Trace|      Balke|[Dark Truth, A (T...|4812.73|http://dummyimage...|   1982-01-03|  true|
| 80|   Lorilee|     Petrie|[Gaudi Afternoon,...|4153.15|http://dummyimage...|   2002-07-29| false|
| 89|      Tish|     Machon|  [Arrowhead, Simon]|4830.06|http://dummyimage...|   1995-06-08|  true|
| 92|     Daron|    Briance|[Train on the Bra...|4226.35|http://dummyimage...|   2002-02-22|  true|
| 93|    Janean|       Pelz|              [Once]|4906.92|http://dummyimage...|   1975-09-23|  true|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+

In [0]:
df.select(col('active')).distinct().show()

+------+
|active|
+------+
|  true|
| false|
|  null|
+------+

In [0]:
df.select(col('first_name'), year(col('date_of_birth')).alias('birth_year'), col('active')).orderBy("birth_year",'first_name').show()

+----------+----------+------+
|first_name|birth_year|active|
+----------+----------+------+
|      null|      null|  null|
|    Adrian|      1971| false|
|   Feodora|      1971|  true|
|       Sky|      1971| false|
|   Timothy|      1971| false|
|    Lucita|      1972|  true|
|      Rodi|      1972| false|
|  Sherline|      1972|  true|
|     Toddy|      1972|  true|
|  Dominica|      1973| false|
|    Kelila|      1973|  true|
|  Wolfgang|      1973|  true|
|   Balduin|      1974| false|
|     Emory|      1974|  true|
|    Norean|      1974|  true|
|    Janean|      1975|  true|
|       Bev|      1976|  true|
| Franciska|      1976| false|
|    Bennie|      1977| false|
|     Johny|      1977| false|
+----------+----------+------+
only showing top 20 rows

In [0]:
df.select(col('first_name'), year(col('date_of_birth')).alias('birth_year'), col('active')).dropDuplicates(["birth_year",'active']).orderBy("birth_year","first_name").show()

+----------+----------+------+
|first_name|birth_year|active|
+----------+----------+------+
|      null|      null|  null|
|    Adrian|      1971| false|
|   Feodora|      1971|  true|
|      Rodi|      1972| false|
|  Sherline|      1972|  true|
|  Dominica|      1973| false|
|    Kelila|      1973|  true|
|   Balduin|      1974| false|
|     Emory|      1974|  true|
|    Janean|      1975|  true|
|       Bev|      1976|  true|
| Franciska|      1976| false|
|     Johny|      1977| false|
|    Daveta|      1978| false|
|   Guthrie|      1978|  true|
|      Maxi|      1979| false|
|   Melinda|      1979|  true|
|    Carter|      1980| false|
|   Loralyn|      1980|  true|
|     Clive|      1981|  true|
+----------+----------+------+
only showing top 20 rows

In [0]:
df.orderBy(desc(year(col('date_of_birth')).alias('year'))).show()

+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| id|first_name|  last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| 92|     Daron|    Briance|[Train on the Bra...|4226.35|http://dummyimage...|   2002-02-22|  true|
| 80|   Lorilee|     Petrie|[Gaudi Afternoon,...|4153.15|http://dummyimage...|   2002-07-29| false|
|100|    Virgie|   Domanski|[Horseman, The, S...|2165.93|http://dummyimage...|   2002-01-05|  true|
| 37|    Carlen|    Sharply|[Dr. Jekyll and M...|2051.85|http://dummyimage...|   2002-06-01|  true|
| 85|    Maxine|    Ewenson|[Savior, Beaver T...| 3363.5|http://dummyimage...|   2001-01-24| false|
| 15|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|http://dummyimage...|   2000-10-07| false|
| 69|  Annabell|    Doughty|[Entertaining Ang...|2022.57|http://dummyimage...|   2000-09-03|  true|
| 25|     Kelcy|     Wogdon|    [Iron Mask, The]|4512.51|http://dummyimage...|   2000-10-20|  true|
| 88|     Jobie|    Maughan|[Devils on the Do...| 3899.2|http://dummyimage...|   2000-02-07| false|
| 32|      Redd|   Akenhead|[Century of the D...| 2470.9|http://dummyimage...|   2000-06-05| false|
| 22|  Theodore|   Climance|[Story of the Wee...|3008.56|http://dummyimage...|   1999-01-30| false|
| 49| Kendricks|        Kee|   [Flower & Garnet]|2304.39|http://dummyimage...|   1999-11-14|  true|
| 71|    Cecily|    Salomon|[Mrs. Henderson P...|4062.93|http://dummyimage...|   1999-07-18|  true|
| 55|      Jere|  Shakelady|[Spencer's Mountain]|2866.28|http://dummyimage...|   1999-05-03| false|
| 77|  Elianora|     Notman|        [Nostalghia]|2132.07|http://dummyimage...|   1999-06-26| false|
| 79|     Deina|    Pennick|[Invisible Invade...|1048.92|http://dummyimage...|   1999-11-28|  true|
| 73|      Jere|   Burchill|[Project A ('A' g...|1244.32|http://dummyimage...|   1998-07-30| false|
| 66|      Rudy|    Ritelli|[Pope's Toilet, T...|4268.39|http://dummyimage...|   1998-09-01|  true|
| 62|    Wilden|     Mayger|[Rock, Paper, Sci...|3372.25|http://dummyimage...|   1998-12-27| false|
| 19|      Lura|     Follis|[My Life in Pink ...|3331.26|http://dummyimage...|   1998-11-03| false|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
only showing top 20 rows

In [0]:
df.orderBy(year(col('date_of_birth')).alias('birth_year'), ascending = False).show()

+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| id|first_name|  last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| 80|   Lorilee|     Petrie|[Gaudi Afternoon,...|4153.15|http://dummyimage...|   2002-07-29| false|
|100|    Virgie|   Domanski|[Horseman, The, S...|2165.93|http://dummyimage...|   2002-01-05|  true|
| 37|    Carlen|    Sharply|[Dr. Jekyll and M...|2051.85|http://dummyimage...|   2002-06-01|  true|
| 92|     Daron|    Briance|[Train on the Bra...|4226.35|http://dummyimage...|   2002-02-22|  true|
| 85|    Maxine|    Ewenson|[Savior, Beaver T...| 3363.5|http://dummyimage...|   2001-01-24| false|
| 15|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|http://dummyimage...|   2000-10-07| false|
| 69|  Annabell|    Doughty|[Entertaining Ang...|2022.57|http://dummyimage...|   2000-09-03|  true|
| 25|     Kelcy|     Wogdon|    [Iron Mask, The]|4512.51|http://dummyimage...|   2000-10-20|  true|
| 88|     Jobie|    Maughan|[Devils on the Do...| 3899.2|http://dummyimage...|   2000-02-07| false|
| 32|      Redd|   Akenhead|[Century of the D...| 2470.9|http://dummyimage...|   2000-06-05| false|
| 22|  Theodore|   Climance|[Story of the Wee...|3008.56|http://dummyimage...|   1999-01-30| false|
| 49| Kendricks|        Kee|   [Flower & Garnet]|2304.39|http://dummyimage...|   1999-11-14|  true|
| 71|    Cecily|    Salomon|[Mrs. Henderson P...|4062.93|http://dummyimage...|   1999-07-18|  true|
| 55|      Jere|  Shakelady|[Spencer's Mountain]|2866.28|http://dummyimage...|   1999-05-03| false|
| 77|  Elianora|     Notman|        [Nostalghia]|2132.07|http://dummyimage...|   1999-06-26| false|
| 79|     Deina|    Pennick|[Invisible Invade...|1048.92|http://dummyimage...|   1999-11-28|  true|
| 73|      Jere|   Burchill|[Project A ('A' g...|1244.32|http://dummyimage...|   1998-07-30| false|
| 62|    Wilden|     Mayger|[Rock, Paper, Sci...|3372.25|http://dummyimage...|   1998-12-27| false|
| 66|      Rudy|    Ritelli|[Pope's Toilet, T...|4268.39|http://dummyimage...|   1998-09-01|  true|
| 72|    Eugine|   McRamsey|            [Lawman]|2006.46|http://dummyimage...|   1998-09-12| false|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
only showing top 20 rows

In [0]:
df.show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|    Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|
|  3|       Max|   Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|
|  4|    Ilario|     Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|
|  5|     Toddy|   Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|
|  6|    Oswald| Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|
|  7|    Adrian|   Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|
|  8|  Dominica|  Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|
|  9|     Emory|  Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 10|  Jeremias|     Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

In [0]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- fav_movies: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- salary: float (nullable = true)
 |-- image_url: string (nullable = true)
 |-- date_of_birth: date (nullable = true)
 |-- active: boolean (nullable = true)

In [0]:
from pyspark.sql import *

In [0]:
new_rows = [Row(111, 'Bot', 'Death', ['The Equalizer','The Equalizer 2' ], 20000.0,'https://wwww.google.com', "1995-12-15", False),
           Row(112, 'Death', 'Bot', ['The Equalizer 2','The Equalizer 1' ], 10000.0, 'https://wwww.google.com', "1995-12-15", True)]

In [0]:
df.columns

Out[42]: ['id',
 'first_name',
 'last_name',
 'fav_movies',
 'salary',
 'image_url',
 'date_of_birth',
 'active']

In [0]:
df1 = spark.createDataFrame(data = new_rows, schema = df.columns)

In [0]:
df1.show()

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
|111|       Bot|    Death|[The Equalizer, T...|20000.0|https://wwww.goog...|   1995-12-15| false|
|112|     Death|      Bot|[The Equalizer 2,...|10000.0|https://wwww.goog...|   1995-12-15|  true|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+

In [0]:
df.union(df1).orderBy(col("id"), ascending =  False).show()

+---+----------+---------+--------------------+------------------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies|            salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+------------------+--------------------+-------------+------+
|112|     Death|      Bot|[The Equalizer 2,...|           10000.0|https://wwww.goog...|   1995-12-15|  true|
|111|       Bot|    Death|[The Equalizer, T...|           20000.0|https://wwww.goog...|   1995-12-15| false|
|100|    Virgie| Domanski|[Horseman, The, S...| 2165.929931640625|http://dummyimage...|   2002-01-05|  true|
|100|    Virgie| Domanski|[Horseman, The, S...| 2165.929931640625|http://dummyimage...|   2002-01-05|  true|
| 99|   Rozalie|   Wannop|[Suddenly, The No...|1259.6400146484375|http://dummyimage...|   1997-03-25| false|
| 99|   Rozalie|   Wannop|[Suddenly, The No...|1259.6400146484375|http://dummyimage...|   1997-03-25| false|
| 98|     Davin|     Labb|[Viva Riva!, Kill...| 1452.739990234375|http://dummyimage...|   1988-01-27|  true|
| 98|     Davin|     Labb|[Viva Riva!, Kill...| 1452.739990234375|http://dummyimage...|   1988-01-27|  true|
| 97|      Rodi|   Farnan|[Code, The (Menta...|   2325.8798828125|http://dummyimage...|   1972-01-04| false|
| 97|      Rodi|   Farnan|[Code, The (Menta...|   2325.8798828125|http://dummyimage...|   1972-01-04| false|
| 96|       Dew| Coopland|              [Rush]|  2725.56005859375|http://dummyimage...|   1986-11-14| false|
| 96|       Dew| Coopland|              [Rush]|  2725.56005859375|http://dummyimage...|   1986-11-14| false|
| 95|      Cobb|  MacLure|[Storage 24, His ...|1621.1700439453125|http://dummyimage...|   1994-06-28| false|
| 95|      Cobb|  MacLure|[Storage 24, His ...|1621.1700439453125|http://dummyimage...|   1994-06-28| false|
| 94|    Bennie|   Knight|[House on Carroll...| 2370.239990234375|http://dummyimage...|   1977-08-27| false|
| 94|    Bennie|   Knight|[House on Carroll...| 2370.239990234375|http://dummyimage...|   1977-08-27| false|
| 93|    Janean|     Pelz|              [Once]|    4906.919921875|http://dummyimage...|   1975-09-23|  true|
| 93|    Janean|     Pelz|              [Once]|    4906.919921875|http://dummyimage...|   1975-09-23|  true|
| 92|     Daron|  Briance|[Train on the Bra...|  4226.35009765625|http://dummyimage...|   2002-02-22|  true|
| 92|     Daron|  Briance|[Train on the Bra...|  4226.35009765625|http://dummyimage...|   2002-02-22|  true|
+---+----------+---------+--------------------+------------------+--------------------+-------------+------+
only showing top 20 rows

In [0]:
df.select (col("Salary"), (col("salary")*0.10+col("salary")).alias("salary_increase")).show(10)

+-------+------------------+
| Salary|   salary_increase|
+-------+------------------+
|1463.36|1609.6959838867188|
|3006.04|  3306.64404296875|
|1422.88|1565.1680053710938|
|3561.36|3917.4961181640624|
|4934.87|  5428.35712890625|
|1153.23| 1268.552978515625|
|1044.73| 1149.202978515625|
|1147.76|1262.5360107421875|
|1082.11|1190.3209838867188|
|3472.63|  3819.89287109375|
+-------+------------------+
only showing top 10 rows

In [0]:
from pyspark.sql.functions import *

In [0]:
df.withColumn(colName = 'salary_increase',col = (col("salary")*0.10+col("salary"))).show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+------------------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|   salary_increase|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+------------------+
|  1|     Drucy|    Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|1609.6959838867188|
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|  3306.64404296875|
|  3|       Max|   Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|1565.1680053710938|
|  4|    Ilario|     Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|3917.4961181640624|
|  5|     Toddy|   Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|  5428.35712890625|
|  6|    Oswald| Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false| 1268.552978515625|
|  7|    Adrian|   Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false| 1149.202978515625|
|  8|  Dominica|  Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|1262.5360107421875|
|  9|     Emory|  Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|1190.3209838867188|
| 10|  Jeremias|     Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|  3819.89287109375|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+------------------+
only showing top 10 rows

In [0]:
df = df.withColumn(colName = 'salary_increase',col = expr("salary*0.10+salary"))

In [0]:
df.columns

Out[62]: ['id',
 'first_name',
 'last_name',
 'movies',
 'salary',
 'image_url',
 'date_of_birth',
 'active',
 'salary_x10',
 'salary_increase']

In [0]:
df = df.withColumnRenamed(existing = 'fav_movies',new = 'movies').withColumn(colName = 'salary_x10', col = round(col('salary_increase'),2)).drop("salary_increase")

In [0]:
df.show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|    Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|
|  3|       Max|   Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|
|  4|    Ilario|     Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|
|  5|     Toddy|   Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|
|  6|    Oswald| Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|
|  7|    Adrian|   Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|
|  8|  Dominica|  Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|
|  9|     Emory|  Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 10|  Jeremias|     Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

In [0]:
from pyspark.sql import *

In [0]:
bad_movies_list = [Row(None, None, None),
                   Row(None, None, 2020),
                   Row("John Doe", "Awesome Movie", None),
                   Row(None, "Awesome Movie", 2021),
                   Row("Mary Jane", None, 2019),
                   Row("Vikter Duplaix", "Not another teen movie", 2001)]

In [0]:
df = spark.createDataFrame(data = bad_movies_list, schema= ["actor_name", "movie_title", "production_year"])

In [0]:
df.show()

+--------------+--------------------+---------------+
|    actor_name|         movie_title|production_year|
+--------------+--------------------+---------------+
|          null|                null|           null|
|          null|                null|           2020|
|      John Doe|       Awesome Movie|           null|
|          null|       Awesome Movie|           2021|
|     Mary Jane|                null|           2019|
|Vikter Duplaix|Not another teen ...|           2001|
+--------------+--------------------+---------------+

In [0]:
df.na.drop().show()

+--------------+--------------------+---------------+
|    actor_name|         movie_title|production_year|
+--------------+--------------------+---------------+
|Vikter Duplaix|Not another teen ...|           2001|
+--------------+--------------------+---------------+

In [0]:
df.na.drop(how = 'all').show()

+--------------+--------------------+---------------+
|    actor_name|         movie_title|production_year|
+--------------+--------------------+---------------+
|          null|                null|           2020|
|      John Doe|       Awesome Movie|           null|
|          null|       Awesome Movie|           2021|
|     Mary Jane|                null|           2019|
|Vikter Duplaix|Not another teen ...|           2001|
+--------------+--------------------+---------------+

In [0]:
df.na.drop(how = 'any', thresh = 2).show()

+--------------+--------------------+---------------+
|    actor_name|         movie_title|production_year|
+--------------+--------------------+---------------+
|      John Doe|       Awesome Movie|           null|
|          null|       Awesome Movie|           2021|
|     Mary Jane|                null|           2019|
|Vikter Duplaix|Not another teen ...|           2001|
+--------------+--------------------+---------------+

In [0]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [0]:
df.filter(col('actor_name').isNull() == True).show()

+----------+-------------+---------------+
|actor_name|  movie_title|production_year|
+----------+-------------+---------------+
|      null|         null|           null|
|      null|         null|           2020|
|      null|Awesome Movie|           2021|
+----------+-------------+---------------+

In [0]:
df.filter(col('actor_name').isNull() != True).show()

+--------------+--------------------+---------------+
|    actor_name|         movie_title|production_year|
+--------------+--------------------+---------------+
|      John Doe|       Awesome Movie|           null|
|     Mary Jane|                null|           2019|
|Vikter Duplaix|Not another teen ...|           2001|
+--------------+--------------------+---------------+

In [0]:
df.describe().show()

+-------+--------------+--------------------+-----------------+
|summary|    actor_name|         movie_title|  production_year|
+-------+--------------+--------------------+-----------------+
|  count|             3|                   3|                4|
|   mean|          null|                null|          2015.25|
| stddev|          null|                null|9.535023160258536|
|    min|      John Doe|       Awesome Movie|             2001|
|    max|Vikter Duplaix|Not another teen ...|             2021|
+-------+--------------+--------------------+-----------------+

In [0]:
df.describe('actor_name').show()

+-------+--------------+
|summary|    actor_name|
+-------+--------------+
|  count|             3|
|   mean|          null|
| stddev|          null|
|    min|      John Doe|
|    max|Vikter Duplaix|
+-------+--------------+

In [0]:
df.select(col('actor_name')).describe().show()

+-------+--------------+
|summary|    actor_name|
+-------+--------------+
|  count|             3|
|   mean|          null|
| stddev|          null|
|    min|      John Doe|
|    max|Vikter Duplaix|
+-------+--------------+

In [0]:
from pyspark.sql.functions import udf

In [0]:
df.show()

+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| id|first_name|  last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|      Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  2|   Emelyne|      Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|
|  3|       Max|     Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|
|  4|    Ilario|       Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|
|  5|     Toddy|     Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|
|  6|    Oswald|   Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|
|  7|    Adrian|     Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|
|  8|  Dominica|    Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|
|  9|     Emory|    Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 10|  Jeremias|       Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|
| 11|   Timothy|     Ervine|[Land of the Lost...|1147.61|http://dummyimage...|   1971-06-02| false|
| 12|   Leanora|     Gooder|[It's All About L...|1327.02|http://dummyimage...|   1981-12-17| false|
| 13|  Claiborn|     Denham|[McCullin, Max Pa...|2623.33|http://dummyimage...|   1996-03-07| false|
| 14|   Ambrosi|   Vidineev|[Wall Street: Mon...|4550.88|http://dummyimage...|   1989-07-20|  true|
| 15|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|http://dummyimage...|   2000-10-07| false|
| 16|   Margaux|   Archbold|[And Now a Word f...|1013.75|http://dummyimage...|   1988-07-29|  true|
| 17|   Balduin|    Elstone|      [Sisters, The]|2302.26|http://dummyimage...|   1974-07-20| false|
| 18|     Alfie|   Hatliffe|     [Lord of Tears]| 3893.1|http://dummyimage...|   1989-06-21|  true|
| 19|      Lura|     Follis|[My Life in Pink ...|3331.26|http://dummyimage...|   1998-11-03| false|
| 20|      Maxi|      Cluet|[All I Want for C...|4046.46|http://dummyimage...|   1979-05-06| false|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
only showing top 20 rows

In [0]:
def age(dob:int):
    if 2022 - dob > 50:
        return 'Old'
    elif 2022 - dob > 40:
        return 'Not so old'
    elif 2022 - dob > 20:
        return 'Young'
    else:
        return 'dead'

In [0]:
age_udf = udf(age)

In [0]:
df.select(col('date_of_birth'), (2022-year(col('date_of_birth'))).alias('age'), age_udf(year(col('date_of_birth')))).show()

+-------------+---+------------------------+
|date_of_birth|age|age(year(date_of_birth))|
+-------------+---+------------------------+
|   1991-02-16| 31|                   Young|
|   1991-11-02| 31|                   Young|
|   1990-03-03| 32|                   Young|
|   1987-06-09| 35|                   Young|
|   1992-10-28| 30|                   Young|
|   1986-09-02| 36|                   Young|
|   1971-08-24| 51|                     Old|
|   1973-08-27| 49|              Not so old|
|   1974-06-08| 48|              Not so old|
|   1997-08-02| 25|                   Young|
|   1971-06-02| 51|                     Old|
|   1981-12-17| 41|              Not so old|
|   1996-03-07| 26|                   Young|
|   1989-07-20| 33|                   Young|
|   2000-10-07| 22|                   Young|
|   1988-07-29| 34|                   Young|
|   1974-07-20| 48|              Not so old|
|   1989-06-21| 33|                   Young|
|   1998-11-03| 24|                   Young|
|   1979-05-06| 43|              Not so old|
+-------------+---+------------------------+
only showing top 20 rows

In [0]:
from pyspark.sql import  *
from pyspark.sql.functions import  *
from pyspark.sql.types import *

In [0]:
schema = StructType([StructField('Order_ID',dataType = StringType(), nullable = True),
                   StructField('Product',dataType = StringType(), nullable = True),
                   StructField('Quantity_Ordered',dataType = StringType(), nullable = True),
                   StructField('Price_Each',dataType = StringType(), nullable = True),
                   StructField('Order_Date',dataType = StringType(), nullable = True),
                   StructField('Purchase_Address',dataType = StringType(), nullable = True)])
df = spark.read.csv(path = 'FileStore/tables/salesdata/*.csv', schema=schema, header = True)
df.show(10)

+--------+--------------------+----------------+----------+--------------+--------------------+
|Order_ID|             Product|Quantity_Ordered|Price_Each|    Order_Date|    Purchase_Address|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  295665|  Macbook Pro Laptop|               1|      1700|12/30/19 00:01|136 Church St, Ne...|
|  295666|  LG Washing Machine|               1|     600.0|12/29/19 07:03|562 2nd St, New Y...|
|  295667|USB-C Charging Cable|               1|     11.95|12/12/19 18:21|277 Main St, New ...|
|  295668|    27in FHD Monitor|               1|    149.99|12/22/19 15:13|410 6th St, San F...|
|  295669|USB-C Charging Cable|               1|     11.95|12/18/19 12:38|43 Hill St, Atlan...|
|  295670|AA Batteries (4-p...|               1|      3.84|12/31/19 22:58|200 Jefferson St,...|
|  295671|USB-C Charging Cable|               1|     11.95|12/16/19 15:10|928 12th St, Port...|
|  295672|USB-C Charging Cable|               2|     11.95|12/13/19 09:29|813 Hickory St, D...|
|  295673|Bose SoundSport H...|               1|     99.99|12/15/19 23:26|718 Wilson St, Da...|
|  295674|AAA Batteries (4-...|               4|      2.99|12/28/19 11:51|77 7th St, Dallas...|
+--------+--------------------+----------------+----------+--------------+--------------------+
only showing top 10 rows

In [0]:
df.describe().show()

+-------+-----------------+------------+------------------+-----------------+--------------+--------------------+
|summary|         Order_ID|     Product|  Quantity_Ordered|       Price_Each|    Order_Date|    Purchase_Address|
+-------+-----------------+------------+------------------+-----------------+--------------+--------------------+
|  count|           186305|      186305|            186305|           186305|        186305|              186305|
|   mean|230417.5693788653|        null|1.1243828986286637|184.3997347674861|          null|                null|
| stddev| 51512.7371099961|        null|0.4427926240286694|332.7313298843445|          null|                null|
|    min|           141234|20in Monitor|                 1|           109.99|01/01/19 03:07|1 11th St, Atlant...|
|    max|         Order ID|      iPhone|  Quantity Ordered|       Price Each|    Order Date|    Purchase Address|
+-------+-----------------+------------+------------------+-----------------+--------------+--------------------+

In [0]:
for i in df.columns:
    print(f"For columns {i}")
    print(df.filter(col(i).isNull() == True).count())

For columns Order_ID
545
For columns Product
545
For columns Quantity_Ordered
545
For columns Price_Each
545
For columns Order_Date
545
For columns Purchase_Address
545

In [0]:
df_clened = df.dropna(how = 'any')

In [0]:
for i in df_clened.columns:
    print(f"For columns {i}")
    print(df_clened.filter(col(i).isNull() == True).count())

For columns Order_ID
0
For columns Product
0
For columns Quantity_Ordered
0
For columns Price_Each
0
For columns Order_Date
0
For columns Purchase_Address
0

In [0]:
df_clened.show(truncate = False)

+--------+--------------------------+----------------+----------+--------------+-----------------------------------------+
|Order_ID|Product                   |Quantity_Ordered|Price_Each|Order_Date    |Purchase_Address                         |
+--------+--------------------------+----------------+----------+--------------+-----------------------------------------+
|295665  |Macbook Pro Laptop        |1               |1700      |12/30/19 00:01|136 Church St, New York City, NY 10001   |
|295666  |LG Washing Machine        |1               |600.0     |12/29/19 07:03|562 2nd St, New York City, NY 10001      |
|295667  |USB-C Charging Cable      |1               |11.95     |12/12/19 18:21|277 Main St, New York City, NY 10001     |
|295668  |27in FHD Monitor          |1               |149.99    |12/22/19 15:13|410 6th St, San Francisco, CA 94016      |
|295669  |USB-C Charging Cable      |1               |11.95     |12/18/19 12:38|43 Hill St, Atlanta, GA 30301            |
|295670  |AA Batteries (4-pack)     |1               |3.84      |12/31/19 22:58|200 Jefferson St, New York City, NY 10001|
|295671  |USB-C Charging Cable      |1               |11.95     |12/16/19 15:10|928 12th St, Portland, OR 97035          |
|295672  |USB-C Charging Cable      |2               |11.95     |12/13/19 09:29|813 Hickory St, Dallas, TX 75001         |
|295673  |Bose SoundSport Headphones|1               |99.99     |12/15/19 23:26|718 Wilson St, Dallas, TX 75001          |
|295674  |AAA Batteries (4-pack)    |4               |2.99      |12/28/19 11:51|77 7th St, Dallas, TX 75001              |
|295675  |USB-C Charging Cable      |2               |11.95     |12/13/19 13:52|594 1st St, San Francisco, CA 94016      |
|295676  |ThinkPad Laptop           |1               |999.99    |12/28/19 17:19|410 Lincoln St, Los Angeles, CA 90001    |
|295677  |AA Batteries (4-pack)     |2               |3.84      |12/20/19 19:19|866 Pine St, Boston, MA 02215            |
|295678  |AAA Batteries (4-pack)    |2               |2.99      |12/06/19 09:38|187 Lincoln St, Dallas, TX 75001         |
|295679  |USB-C Charging Cable      |1               |11.95     |12/25/19 09:39|902 2nd St, Dallas, TX 75001             |
|295680  |Lightning Charging Cable  |1               |14.95     |12/01/19 14:30|338 Main St, Austin, TX 73301            |
|295681  |Google Phone              |1               |600       |12/25/19 12:37|79 Elm St, Boston, MA 02215              |
|295681  |USB-C Charging Cable      |1               |11.95     |12/25/19 12:37|79 Elm St, Boston, MA 02215              |
|295681  |Bose SoundSport Headphones|1               |99.99     |12/25/19 12:37|79 Elm St, Boston, MA 02215              |
|295681  |Wired Headphones          |1               |11.99     |12/25/19 12:37|79 Elm St, Boston, MA 02215              |
+--------+--------------------------+----------------+----------+--------------+-----------------------------------------+
only showing top 20 rows

In [0]:
df_clened = df_clened.withColumn('Cleaned_Address', ltrim(rtrim(col('Purchase_Address'))))

In [0]:
def extract_city(add: str):
    return add.split(',')[1]
def extract_state(add: str):
    return add.split(',')[2].split(' ')[1]

In [0]:
city_df = udf(extract_city)
state_df = udf(extract_state)

In [0]:
df_clened = df_clened.withColumn('City', col = city_df(col('Cleaned_Address')))
df_clened = df_clened.withColumn('State', col = state_df(col('Cleaned_Address')))

In [0]:
df_clened.show(truncate = False)

+--------+--------------------------+----------------+----------+--------------+-----------------------------------------+-----------------------------------------+--------------+-----+
|Order_ID|Product                   |Quantity_Ordered|Price_Each|Order_Date    |Purchase_Address                         |Cleaned_Address                          |City          |State|
+--------+--------------------------+----------------+----------+--------------+-----------------------------------------+-----------------------------------------+--------------+-----+
|295665  |Macbook Pro Laptop        |1               |1700      |12/30/19 00:01|136 Church St, New York City, NY 10001   |136 Church St, New York City, NY 10001   | New York City|NY   |
|295666  |LG Washing Machine        |1               |600.0     |12/29/19 07:03|562 2nd St, New York City, NY 10001      |562 2nd St, New York City, NY 10001      | New York City|NY   |
|295667  |USB-C Charging Cable      |1               |11.95     |12/12/19 18:21|277 Main St, New York City, NY 10001     |277 Main St, New York City, NY 10001     | New York City|NY   |
|295668  |27in FHD Monitor          |1               |149.99    |12/22/19 15:13|410 6th St, San Francisco, CA 94016      |410 6th St, San Francisco, CA 94016      | San Francisco|CA   |
|295669  |USB-C Charging Cable      |1               |11.95     |12/18/19 12:38|43 Hill St, Atlanta, GA 30301            |43 Hill St, Atlanta, GA 30301            | Atlanta      |GA   |
|295670  |AA Batteries (4-pack)     |1               |3.84      |12/31/19 22:58|200 Jefferson St, New York City, NY 10001|200 Jefferson St, New York City, NY 10001| New York City|NY   |
|295671  |USB-C Charging Cable      |1               |11.95     |12/16/19 15:10|928 12th St, Portland, OR 97035          |928 12th St, Portland, OR 97035          | Portland     |OR   |
|295672  |USB-C Charging Cable      |2               |11.95     |12/13/19 09:29|813 Hickory St, Dallas, TX 75001         |813 Hickory St, Dallas, TX 75001         | Dallas       |TX   |
|295673  |Bose SoundSport Headphones|1               |99.99     |12/15/19 23:26|718 Wilson St, Dallas, TX 75001          |718 Wilson St, Dallas, TX 75001          | Dallas       |TX   |
|295674  |AAA Batteries (4-pack)    |4               |2.99      |12/28/19 11:51|77 7th St, Dallas, TX 75001              |77 7th St, Dallas, TX 75001              | Dallas       |TX   |
|295675  |USB-C Charging Cable      |2               |11.95     |12/13/19 13:52|594 1st St, San Francisco, CA 94016      |594 1st St, San Francisco, CA 94016      | San Francisco|CA   |
|295676  |ThinkPad Laptop           |1               |999.99    |12/28/19 17:19|410 Lincoln St, Los Angeles, CA 90001    |410 Lincoln St, Los Angeles, CA 90001    | Los Angeles  |CA   |
|295677  |AA Batteries (4-pack)     |2               |3.84      |12/20/19 19:19|866 Pine St, Boston, MA 02215            |866 Pine St, Boston, MA 02215            | Boston       |MA   |
|295678  |AAA Batteries (4-pack)    |2               |2.99      |12/06/19 09:38|187 Lincoln St, Dallas, TX 75001         |187 Lincoln St, Dallas, TX 75001         | Dallas       |TX   |
|295679  |USB-C Charging Cable      |1               |11.95     |12/25/19 09:39|902 2nd St, Dallas, TX 75001             |902 2nd St, Dallas, TX 75001             | Dallas       |TX   |
|295680  |Lightning Charging Cable  |1               |14.95     |12/01/19 14:30|338 Main St, Austin, TX 73301            |338 Main St, Austin, TX 73301            | Austin       |TX   |
|295681  |Google Phone              |1               |600       |12/25/19 12:37|79 Elm St, Boston, MA 02215              |79 Elm St, Boston, MA 02215              | Boston       |MA   |
|295681  |USB-C Charging Cable      |1               |11.95     |12/25/19 12:37|79 Elm St, Boston, MA 02215              |79 Elm St, Boston, MA 02215              | Boston       |MA   |
|295681  |Bose SoundSport Headphones|1               |99.99     |12/25/19 12:37|79 Elm St, Boston, MA 02215              |79 Elm St, Boston, MA 02215              | Boston       |MA   |
|295681  |Wired Headphones          |1               |11.99     |12/25/19 12:37|79 Elm St, Boston, MA 02215              |79 Elm St, Boston, MA 02215              | Boston       |MA   |
+--------+--------------------------+----------------+----------+--------------+-----------------------------------------+-----------------------------------------+--------------+-----+
only showing top 20 rows

In [0]:
df_clened = df_clened.withColumn('Order_ID', col('Order_ID').cast(IntegerType())).withColumn('Quantity_Ordered', col('Quantity_Ordered').cast(IntegerType())).withColumn('Price_Each', col('Price_Each').cast(FloatType()))

In [0]:
df.printSchema()

root
 |-- Order_ID: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity_Ordered: string (nullable = true)
 |-- Price_Each: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Purchase_Address: string (nullable = true)

In [0]:
df_clened.printSchema()

root
 |-- Order_ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity_Ordered: integer (nullable = true)
 |-- Price_Each: float (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Purchase_Address: string (nullable = true)
 |-- Cleaned_Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)

In [0]:
df_clened = df_clened.withColumn('Order_Date', to_timestamp(col('Order_Date'), format= 'MM/dd/yy HH:mm'))

In [0]:
df_clened = df_clened.withColumn('Report_Year', year(col("Order_Date"))).withColumn("Month", month(col("Order_Date")))

In [0]:
df_clened.show(10, truncate =  False)

+--------+--------------------------+----------------+----------+-------------------+-----------------------------------------+-----------------------------------------+--------------+-----+-----------+-----+
|Order_ID|Product                   |Quantity_Ordered|Price_Each|Order_Date         |Purchase_Address                         |Cleaned_Address                          |City          |State|Report_Year|Month|
+--------+--------------------------+----------------+----------+-------------------+-----------------------------------------+-----------------------------------------+--------------+-----+-----------+-----+
|295665  |Macbook Pro Laptop        |1               |1700.0    |2019-12-30 00:01:00|136 Church St, New York City, NY 10001   |136 Church St, New York City, NY 10001   | New York City|NY   |2019       |12   |
|295666  |LG Washing Machine        |1               |600.0     |2019-12-29 07:03:00|562 2nd St, New York City, NY 10001      |562 2nd St, New York City, NY 10001      | New York City|NY   |2019       |12   |
|295667  |USB-C Charging Cable      |1               |11.95     |2019-12-12 18:21:00|277 Main St, New York City, NY 10001     |277 Main St, New York City, NY 10001     | New York City|NY   |2019       |12   |
|295668  |27in FHD Monitor          |1               |149.99    |2019-12-22 15:13:00|410 6th St, San Francisco, CA 94016      |410 6th St, San Francisco, CA 94016      | San Francisco|CA   |2019       |12   |
|295669  |USB-C Charging Cable      |1               |11.95     |2019-12-18 12:38:00|43 Hill St, Atlanta, GA 30301            |43 Hill St, Atlanta, GA 30301            | Atlanta      |GA   |2019       |12   |
|295670  |AA Batteries (4-pack)     |1               |3.84      |2019-12-31 22:58:00|200 Jefferson St, New York City, NY 10001|200 Jefferson St, New York City, NY 10001| New York City|NY   |2019       |12   |
|295671  |USB-C Charging Cable      |1               |11.95     |2019-12-16 15:10:00|928 12th St, Portland, OR 97035          |928 12th St, Portland, OR 97035          | Portland     |OR   |2019       |12   |
|295672  |USB-C Charging Cable      |2               |11.95     |2019-12-13 09:29:00|813 Hickory St, Dallas, TX 75001         |813 Hickory St, Dallas, TX 75001         | Dallas       |TX   |2019       |12   |
|295673  |Bose SoundSport Headphones|1               |99.99     |2019-12-15 23:26:00|718 Wilson St, Dallas, TX 75001          |718 Wilson St, Dallas, TX 75001          | Dallas       |TX   |2019       |12   |
|295674  |AAA Batteries (4-pack)    |4               |2.99      |2019-12-28 11:51:00|77 7th St, Dallas, TX 75001              |77 7th St, Dallas, TX 75001              | Dallas       |TX   |2019       |12   |
+--------+--------------------------+----------------+----------+-------------------+-----------------------------------------+-----------------------------------------+--------------+-----+-----------+-----+
only showing top 10 rows

In [0]:
df_clened.printSchema()

root
 |-- Order_ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity_Ordered: integer (nullable = true)
 |-- Price_Each: float (nullable = true)
 |-- Order_Date: timestamp (nullable = true)
 |-- Purchase_Address: string (nullable = true)
 |-- Cleaned_Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Report_Year: integer (nullable = true)
 |-- Month: integer (nullable = true)

In [0]:
df_2019 = df_clened.filter(col("Report_Year") == 2019)
df_2019.groupby(col("Month")).agg(sum(col("Price_Each")*col("Quantity_Ordered")).alias("total_rev")).orderBy(col("total_rev"), ascending = False).show()

+-----+------------------+
|Month|         total_rev|
+-----+------------------+
|   12|  4613443.31607008|
|   10| 3736726.860444069|
|    4|3390670.2231714725|
|   11| 3199603.184257984|
|    5|3152606.7349271774|
|    3|2807100.3656582832|
|    7|2647775.7468385696|
|    6| 2577802.247295618|
|    8|2244467.8685896397|
|    2| 2202022.408319235|
|    9|2097560.1194250584|
|    1| 1813586.431374073|
+-----+------------------+

In [0]:
df_2019.groupby(col("City")).agg(sum(col("Quantity_Ordered")).alias("num_prod")).orderBy(col("num_prod"), ascending = False).show()

+--------------+--------+
|          City|num_prod|
+--------------+--------+
| San Francisco|   50226|
|   Los Angeles|   33288|
| New York City|   27916|
|        Boston|   22524|
|        Dallas|   16728|
|       Atlanta|   16602|
|       Seattle|   16552|
|      Portland|   14051|
|        Austin|   11151|
+--------------+--------+

In [0]:
df_2019.groupby(hour(col("Order_Date"))).agg(sum(col("Quantity_Ordered")).alias("num_prod")).orderBy(col("num_prod"), ascending = False).show()

+----------------+--------+
|hour(Order_Date)|num_prod|
+----------------+--------+
|              19|   14470|
|              12|   14202|
|              11|   14005|
|              18|   13802|
|              20|   13768|
|              13|   13685|
|              14|   12362|
|              10|   12308|
|              21|   12244|
|              17|   12229|
|              16|   11662|
|              15|   11391|
|              22|    9899|
|               9|    9816|
|              23|    7065|
|               8|    7002|
|               7|    4556|
|               0|    4412|
|               6|    2810|
|               1|    2610|
+----------------+--------+
only showing top 20 rows

In [0]:
df_2019.filter(col("State") == "NY").orderBy(col("Order_ID"),col("Product")).groupBy(col("Order_ID")).agg(collect_list(col("Product"))).show(truncate=False)

+--------+-----------------------------------+
|Order_ID|collect_list(Product)              |
+--------+-----------------------------------+
|141264  |[Apple Airpods Headphones]         |
|141268  |[AA Batteries (4-pack)]            |
|141272  |[AAA Batteries (4-pack)]           |
|141278  |[Lightning Charging Cable]         |
|141282  |[Vareebadd Phone]                  |
|141301  |[Apple Airpods Headphones]         |
|141314  |[Macbook Pro Laptop]               |
|141317  |[27in FHD Monitor]                 |
|141323  |[USB-C Charging Cable]             |
|141343  |[Bose SoundSport Headphones]       |
|141349  |[Lightning Charging Cable]         |
|141353  |[USB-C Charging Cable]             |
|141365  |[Vareebadd Phone, Wired Headphones]|
|141386  |[Lightning Charging Cable]         |
|141390  |[Wired Headphones]                 |
|141391  |[Bose SoundSport Headphones]       |
|141397  |[Lightning Charging Cable]         |
|141400  |[Lightning Charging Cable]         |
|141411  |[Wired Headphones]                 |
|141414  |[Google Phone]                     |
+--------+-----------------------------------+
only showing top 20 rows

In [0]:
df_2019.filter(col("State")== 'NY').groupBy(col("Order_ID"), col("Product")).agg(collect_list(col("Product"))).show(10, truncate=False)

+--------+--------------------------+----------------------------+
|Order_ID|Product                   |collect_list(Product)       |
+--------+--------------------------+----------------------------+
|141264  |Apple Airpods Headphones  |[Apple Airpods Headphones]  |
|141268  |AA Batteries (4-pack)     |[AA Batteries (4-pack)]     |
|141272  |AAA Batteries (4-pack)    |[AAA Batteries (4-pack)]    |
|141278  |Lightning Charging Cable  |[Lightning Charging Cable]  |
|141282  |Vareebadd Phone           |[Vareebadd Phone]           |
|141301  |Apple Airpods Headphones  |[Apple Airpods Headphones]  |
|141314  |Macbook Pro Laptop        |[Macbook Pro Laptop]        |
|141317  |27in FHD Monitor          |[27in FHD Monitor]          |
|141323  |USB-C Charging Cable      |[USB-C Charging Cable]      |
|141343  |Bose SoundSport Headphones|[Bose SoundSport Headphones]|
+--------+--------------------------+----------------------------+
only showing top 10 rows

In [0]:
df_2019.filter(col("State")== 'NY').orderBy(col('Order_ID'),col('Product')).groupBy(col("Order_ID"), col("State")).agg(collect_list(col('Product'))).show(10,truncate=False)

+--------+-----+----------------------------+
|Order_ID|State|collect_list(Product)       |
+--------+-----+----------------------------+
|141264  |NY   |[Apple Airpods Headphones]  |
|141268  |NY   |[AA Batteries (4-pack)]     |
|141272  |NY   |[AAA Batteries (4-pack)]    |
|141278  |NY   |[Lightning Charging Cable]  |
|141282  |NY   |[Vareebadd Phone]           |
|141301  |NY   |[Apple Airpods Headphones]  |
|141314  |NY   |[Macbook Pro Laptop]        |
|141317  |NY   |[27in FHD Monitor]          |
|141323  |NY   |[USB-C Charging Cable]      |
|141343  |NY   |[Bose SoundSport Headphones]|
+--------+-----+----------------------------+
only showing top 10 rows

In [0]:
df_clened.write.parquet(path = 'FileStore/output/', partitionBy=['Report_Year','Month'], compression = 'snappy')

---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<command-1287714136922215> in <module>
----> 1 df_clened.write.parquet(path = 'FileStore/output/', partitionBy=['Report_Year','Month'], compression = 'snappy')

/databricks/spark/python/pyspark/sql/readwriter.py in parquet(self, path, mode, partitionBy, compression)
    883             self.partitionBy(partitionBy)
    884         self._set_opts(compression=compression)
--> 885         self._jwrite.parquet(path)
    886
    887     def text(self, path, compression=None, lineSep=None):

/databricks/spark/python/lib/py4j-0.10.9.1-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1302
   1303         answer = self.gateway_client.send_command(command)
-> 1304         return_value = get_return_value(
   1305             answer, self.gateway_client, self.target_id, self.name)
   1306

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    115     def deco(*a, **kw):
    116         try:
--> 117             return f(*a, **kw)
    118         except py4j.protocol.Py4JJavaError as e:
    119             converted = convert_exception(e.java_exception)

/databricks/spark/python/lib/py4j-0.10.9.1-src.zip/py4j/protocol.py in get_return_value(answer, gateway_client, target_id, name)
    324             value = OUTPUT_CONVERTER[type](answer[2:], gateway_client)
    325             if answer[1] == REFERENCE_TYPE:
--> 326                 raise Py4JJavaError(
    327                     "An error occurred while calling {0}{1}{2}.\n".
    328                     format(target_id, ".", name), value)

Py4JJavaError: An error occurred while calling o3636.parquet.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.jobAbortedError(QueryExecutionErrors.scala:607)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:359)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:198)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:126)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:124)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:138)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$$nestedInanonfun$eagerlyExecuteCommands$1$1.$anonfun$applyOrElse$1(QueryExecution.scala:144)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withCustomExecutionEnv$5(SQLExecution.scala:189)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:336)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withCustomExecutionEnv$1(SQLExecution.scala:148)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:852)
	at org.apache.spark.sql.execution.SQLExecution$.withCustomExecutionEnv(SQLExecution.scala:115)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:286)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$$nestedInanonfun$eagerlyExecuteCommands$1$1.applyOrElse(QueryExecution.scala:144)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$$nestedInanonfun$eagerlyExecuteCommands$1$1.applyOrElse(QueryExecution.scala:140)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:485)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:87)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:485)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:268)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:264)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:461)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$1(QueryExecution.scala:140)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:324)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:140)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:125)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:116)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:167)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:959)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:427)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:396)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:250)
	at org.apache.spark.sql.DataFrameWriter.parquet(DataFrameWriter.scala:892)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:380)
	at py4j.Gateway.invoke(Gateway.java:295)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:251)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 2 in stage 259.0 failed 1 times, most recent failure: Lost task 2.0 in stage 259.0 (TID 617) (ip-10-172-253-81.us-west-2.compute.internal executor driver): org.apache.spark.api.python.PythonException: 'IndexError: list index out of range', from <command-1287714136922202>, line 2. Full traceback below:
Traceback (most recent call last):
  File "<command-1287714136922202>", line 2, in extract_city
IndexError: list index out of range

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:689)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:86)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:68)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:642)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:759)
	at org.apache.spark.sql.execution.UnsafeExternalRowSorter.sort(UnsafeExternalRowSorter.java:240)
	at org.apache.spark.sql.execution.SortExec$$anon$2.sortedIterator(SortExec.scala:133)
	at org.apache.spark.sql.execution.SortExec$$anon$2.hasNext(SortExec.scala:147)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:408)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$20(FileFormatWriter.scala:335)
	at org.apache.spark.scheduler.ResultTask.$anonfun$runTask$3(ResultTask.scala:75)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ResultTask.$anonfun$runTask$1(ResultTask.scala:75)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:55)
	at org.apache.spark.scheduler.Task.doRunTask(Task.scala:153)
	at org.apache.spark.scheduler.Task.$anonfun$run$1(Task.scala:122)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.Task.run(Task.scala:93)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$13(Executor.scala:824)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1641)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:827)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:683)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2979)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2926)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2920)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2920)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1340)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1340)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1340)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3188)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3129)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3117)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:1102)
	at org.apache.spark.SparkContext.runJobInternal(SparkContext.scala:2533)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2516)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:324)
	... 44 more
Caused by: org.apache.spark.api.python.PythonException: 'IndexError: list index out of range', from <command-1287714136922202>, line 2. Full traceback below:
Traceback (most recent call last):
  File "<command-1287714136922202>", line 2, in extract_city
IndexError: list index out of range

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:689)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:86)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:68)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:642)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:759)
	at org.apache.spark.sql.execution.UnsafeExternalRowSorter.sort(UnsafeExternalRowSorter.java:240)
	at org.apache.spark.sql.execution.SortExec$$anon$2.sortedIterator(SortExec.scala:133)
	at org.apache.spark.sql.execution.SortExec$$anon$2.hasNext(SortExec.scala:147)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:408)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$20(FileFormatWriter.scala:335)
	at org.apache.spark.scheduler.ResultTask.$anonfun$runTask$3(ResultTask.scala:75)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ResultTask.$anonfun$runTask$1(ResultTask.scala:75)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:55)
	at org.apache.spark.scheduler.Task.doRunTask(Task.scala:153)
	at org.apache.spark.scheduler.Task.$anonfun$run$1(Task.scala:122)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.Task.run(Task.scala:93)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$13(Executor.scala:824)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1641)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:827)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:683)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [0]:
df = spark.read.csv(r"/FileStore/tables/flight_summary.csv", header = True, multiLine= True)

In [0]:
df.show(3)

+-----------+--------------------+------------+------------+---------+--------------------+---------+----------+-----+
|origin_code|      origin_airport| origin_city|origin_state|dest_code|        dest_airport|dest_city|dest_state|count|
+-----------+--------------------+------------+------------+---------+--------------------+---------+----------+-----+
|        BQN|Rafael Hernndez ...|   Aguadilla|          PR|      MCO|Orlando Internati...|  Orlando|        FL|  441|
|        PHL|Philadelphia Inte...|Philadelphia|          PA|      MCO|Orlando Internati...|  Orlando|        FL| 4869|
|        MCI|Kansas City Inter...| Kansas City|          MO|      IAH|George Bush Inter...|  Houston|        TX| 1698|
+-----------+--------------------+------------+------------+---------+--------------------+---------+----------+-----+
only showing top 3 rows

In [0]:
df.printSchema()

root
 |-- origin_code: string (nullable = true)
 |-- origin_airport: string (nullable = true)
 |-- origin_city: string (nullable = true)
 |-- origin_state: string (nullable = true)
 |-- dest_code: string (nullable = true)
 |-- dest_airport: string (nullable = true)
 |-- dest_city: string (nullable = true)
 |-- dest_state: string (nullable = true)
 |-- count: string (nullable = true)

In [0]:
from pyspark.sql.functions import  *
from pyspark.sql.types import  *

In [0]:
df = df.withColumn(colName = 'count', col = col('count').cast(IntegerType()))
df = df.withColumnRenamed(existing= 'count', new = 'flights_count')

In [0]:
df.printSchema()

root
 |-- origin_code: string (nullable = true)
 |-- origin_airport: string (nullable = true)
 |-- origin_city: string (nullable = true)
 |-- origin_state: string (nullable = true)
 |-- dest_code: string (nullable = true)
 |-- dest_airport: string (nullable = true)
 |-- dest_city: string (nullable = true)
 |-- dest_state: string (nullable = true)
 |-- flights_count: integer (nullable = true)

In [0]:
df.select(count(col('origin_airport')),count(col('dest_airport'))).show()

+---------------------+-------------------+
|count(origin_airport)|count(dest_airport)|
+---------------------+-------------------+
|                 4693|               4693|
+---------------------+-------------------+

In [0]:
# count doesnt calcuate null values

In [0]:
df.select(countDistinct(col('origin_airport')),countDistinct (col('dest_airport'))).show()

+------------------------------+----------------------------+
|count(DISTINCT origin_airport)|count(DISTINCT dest_airport)|
+------------------------------+----------------------------+
|                           322|                         322|
+------------------------------+----------------------------+

In [0]:
df.select(min(col('flights_count')),max(col('flights_count')), avg(col('flights_count')),sum(col('flights_count'))).show()

+------------------+------------------+------------------+------------------+
|min(flights_count)|max(flights_count)|avg(flights_count)|sum(flights_count)|
+------------------+------------------+------------------+------------------+
|                 1|             13744|1136.3549968037503|           5332914|
+------------------+------------------+------------------+------------------+

In [0]:
df.select(sumDistinct(col("flights_count"))).show()

/databricks/spark/python/pyspark/sql/functions.py:215: FutureWarning: Deprecated in 3.2, use sum_distinct instead.
  warnings.warn("Deprecated in 3.2, use sum_distinct instead.", FutureWarning)
+---------------------------+
|sum(DISTINCT flights_count)|
+---------------------------+
|                    3612257|
+---------------------------+

In [0]:
max_flight_cnt = df.select(max(col("flights_count")).alias("busy")).first()['busy']
max_flight_cnt

Out[51]: 13744

In [0]:
max_flight_cnt

Out[52]: 13744

In [0]:
df.filter(col("flights_count") == max_flight_cnt).show()

+-----------+--------------------+-------------+------------+---------+--------------------+-----------+----------+-------------+
|origin_code|      origin_airport|  origin_city|origin_state|dest_code|        dest_airport|  dest_city|dest_state|flights_count|
+-----------+--------------------+-------------+------------+---------+--------------------+-----------+----------+-------------+
|        SFO|San Francisco Int...|San Francisco|          CA|      LAX|Los Angeles Inter...|Los Angeles|        CA|        13744|
+-----------+--------------------+-------------+------------+---------+--------------------+-----------+----------+-------------+

In [0]:
df.groupBy(col("origin_airport")).count().orderBy("count",ascending=False).show(5, truncate = False)

+------------------------------------------------+-----+
|origin_airport                                  |count|
+------------------------------------------------+-----+
|Hartsfield-Jackson Atlanta International Airport|169  |
|Chicago O'Hare International Airport            |162  |
|Dallas/Fort Worth International Airport         |148  |
|Denver International Airport                    |139  |
|Minneapolis-Saint Paul International Airport    |120  |
+------------------------------------------------+-----+
only showing top 5 rows

In [0]:
df.groupBy(col("origin_airport")).agg(max(col("flights_count")).alias('max')).orderBy("max", ascending = False).show(5, truncate = False)

+----------------------------------------------------------------------+-----+
|origin_airport                                                        |max  |
+----------------------------------------------------------------------+-----+
|San Francisco International Airport                                   |13744|
|Los Angeles International Airport                                     |13457|
|John F. Kennedy International Airport(New York International Airport)|12016|
|McCarran International Airport                                        |9715 |
|LaGuardia Airport (Marine Air Terminal)                               |9639 |
+----------------------------------------------------------------------+-----+
only showing top 5 rows

In [0]:
df.groupBy(col("origin_state"), col("origin_city")).agg(max(col("flights_count")).alias('max')).orderBy("max", ascending = False).show(5, truncate = False)

+------------+-------------+-----+
|origin_state|origin_city  |max  |
+------------+-------------+-----+
|CA          |San Francisco|13744|
|CA          |Los Angeles  |13457|
|NY          |New York     |12016|
|NV          |Las Vegas    |9715 |
|IL          |Chicago      |9575 |
+------------+-------------+-----+
only showing top 5 rows

In [0]:
df.groupBy(col("origin_state"), col("origin_city")).count().where(col("origin_state")=="CA").show(5)

+------------+-------------+-----+
|origin_state|  origin_city|count|
+------------+-------------+-----+
|          CA|      Oakland|   35|
|          CA|   Long Beach|   12|
|          CA|     San Jose|   25|
|          CA|Mammoth Lakes|    2|
|          CA|       Fresno|    9|
+------------+-------------+-----+
only showing top 5 rows

In [0]:
df.groupBy(col("origin_state"), col("origin_city")).agg(count(col("origin_airport")).alias('counts')).where(col("origin_state")=="CA").orderBy("counts", ascending = False).show(5)

+------------+-------------+------+
|origin_state|  origin_city|counts|
+------------+-------------+------+
|          CA|  Los Angeles|    80|
|          CA|San Francisco|    80|
|          CA|    San Diego|    47|
|          CA|      Oakland|    35|
|          CA|   Sacramento|    27|
+------------+-------------+------+
only showing top 5 rows

In [0]:
df.groupBy(col("origin_state"), col("origin_city")).agg(max(col("flights_count")).alias('max'),min(col("flights_count")).alias('min'),sum(col("flights_count")).alias('sum'),count(col("flights_count")).alias('count')  ).orderBy("max", ascending = False).show(5, truncate = False)

+------------+-------------+-----+---+------+-----+
|origin_state|origin_city  |max  |min|sum   |count|
+------------+-------------+-----+---+------+-----+
|CA          |San Francisco|13744|1  |148008|80   |
|CA          |Los Angeles  |13457|1  |194673|80   |
|NY          |New York     |12016|1  |193416|133  |
|NV          |Las Vegas    |9715 |9  |133181|78   |
|IL          |Chicago      |9575 |2  |366770|231  |
+------------+-------------+-----+---+------+-----+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import  *
from pyspark.sql.types import  *

In [0]:
schema = StructType([StructField('Order_ID',dataType = StringType(), nullable = True),
                   StructField('Product',dataType = StringType(), nullable = True),
                   StructField('Quantity_Ordered',dataType = StringType(), nullable = True),
                   StructField('Price_Each',dataType = StringType(), nullable = True),
                   StructField('Order_Date',dataType = StringType(), nullable = True),
                   StructField('Purchase_Address',dataType = StringType(), nullable = True)])
df = spark.read.csv(path = 'FileStore/tables/salesdata/*.csv', schema=schema, header = True)
df.show(10)

+--------+--------------------+----------------+----------+--------------+--------------------+
|Order_ID|             Product|Quantity_Ordered|Price_Each|    Order_Date|    Purchase_Address|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  295665|  Macbook Pro Laptop|               1|      1700|12/30/19 00:01|136 Church St, Ne...|
|  295666|  LG Washing Machine|               1|     600.0|12/29/19 07:03|562 2nd St, New Y...|
|  295667|USB-C Charging Cable|               1|     11.95|12/12/19 18:21|277 Main St, New ...|
|  295668|    27in FHD Monitor|               1|    149.99|12/22/19 15:13|410 6th St, San F...|
|  295669|USB-C Charging Cable|               1|     11.95|12/18/19 12:38|43 Hill St, Atlan...|
|  295670|AA Batteries (4-p...|               1|      3.84|12/31/19 22:58|200 Jefferson St,...|
|  295671|USB-C Charging Cable|               1|     11.95|12/16/19 15:10|928 12th St, Port...|
|  295672|USB-C Charging Cable|               2|     11.95|12/13/19 09:29|813 Hickory St, D...|
|  295673|Bose SoundSport H...|               1|     99.99|12/15/19 23:26|718 Wilson St, Da...|
|  295674|AAA Batteries (4-...|               4|      2.99|12/28/19 11:51|77 7th St, Dallas...|
+--------+--------------------+----------------+----------+--------------+--------------------+
only showing top 10 rows

In [0]:
df = df.withColumn(colName = 'Order_Date', col = to_timestamp(col("Order_Date"), format = 'MM/dd/yy HH:mm'))

In [0]:
df.printSchema()

root
 |-- Order_ID: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity_Ordered: string (nullable = true)
 |-- Price_Each: string (nullable = true)
 |-- Order_Date: timestamp (nullable = true)
 |-- Purchase_Address: string (nullable = true)

In [0]:
df = df.withColumn(colName = 'Price_Each', col = col("Price_Each").cast(FloatType()))
df = df.withColumn(colName = 'Quantity_Ordered', col = col("Price_Each").cast(IntegerType()))

In [0]:
df_2019 = df.filter(year(col("Order_Date")) == 2019)

In [0]:
df_2019.groupby(month(col("Order_Date"))).agg(sum(col("Price_Each")*col("Quantity_Ordered")).alias("total_rev")).orderBy(col("total_rev"), ascending = False).show()

+-----------------+--------------------+
|month(Order_Date)|           total_rev|
+-----------------+--------------------+
|               12|3.6090944288146195E9|
|               10| 2.942712541189154E9|
|                4|2.6178084367908216E9|
|                5| 2.536166208208767E9|
|               11|2.4909582698998017E9|
|                3|2.1776682971722884E9|
|                7|2.0685142591947927E9|
|                6|2.0210998842517424E9|
|                8|1.7352299821019454E9|
|                2| 1.670182209875729E9|
|                9|1.6281932201167088E9|
|                1|1.3922706657596688E9|
+-----------------+--------------------+

In [0]:
df_2019.groupby(col("Order_Date")).agg(sum(col("Price_Each")*col("Quantity_Ordered")).alias("total_rev")).orderBy(col("total_rev"), ascending = False).show()